# US 2017 State, County, Minor Civil Division, and Incorporated Place FIPS Codes

**[Work in progress]**

This notebook creates .csv files with US 2017 State and County FIPS codes for ingestion into the Knowledge Graph.

Data source: [2017 State, County, Minor Civil Division, and Incorporated Place FIPS Codes](https://www2.census.gov/programs-surveys/popest/geographies/2017/all-geocodes-v2017.xlsx)

Author: Peter Rose (pwrose@ucsd.edu)

In [2]:
import os
from pathlib import Path
import pandas as pd

In [3]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

In [4]:
NEO4J_IMPORT = Path(os.getenv('NEO4J_IMPORT'))
print(NEO4J_IMPORT)

/Users/peter/Library/Application Support/Neo4j Desktop/Application/neo4jDatabases/database-19636412-9e74-4bac-8a4c-c6c8b49bb9d3/installation-4.1.0/import

In [5]:
census_url = 'https://www2.census.gov/programs-surveys/popest/geographies/2017/all-geocodes-v2017.xlsx'

In [6]:
df = pd.read_excel(census_url, dtype='str', skiprows=4)

In [7]:
# TODO how to handle data for Puerto Rico (considered a country by GeoNames and state by US Census)?
df.query("`State Code (FIPS)` > '56'")

,Summary Level,State Code (FIPS),County Code (FIPS),County Subdivision Code (FIPS),Place Code (FIPS),Consolidtated City Code (FIPS),Area Name (including legal/statistical area description)
43831,040,72,000,00000,00000,00000,Puerto Rico
43832,050,72,001,00000,00000,00000,Adjuntas Municipio
43833,050,72,003,00000,00000,00000,Aguada Municipio
43834,050,72,005,00000,00000,00000,Aguadilla Municipio
43835,050,72,007,00000,00000,00000,Aguas Buenas Municipio
43836,050,72,009,00000,00000,00000,Aibonito Municipio
43837,050,72,011,00000,00000,00000,A침asco Municipio
43838,050,72,013,00000,00000,00000,Arecibo Municipio
43839,050,72,015,00000,00000,00000,Arroyo Municipio
43840,050,72,017,00000,00000,00000,Barceloneta Municipio
43841,050,72,019,00000,00000,00000,Barranquitas Municipio
43842,050,72,021,00000,00000,00000,Bayam칩n Municipio
43843,050,72,023,00000,00000,00000,Cabo Rojo Municipio
43844,050,72,025,00000,00000,00000,Caguas Municipio
43845,050,72,027,00000,00000,00000,Camuy Municipio
43846,050,72,029,00000,00000,00000,Can칩vanas Municipio
43847,050,72,031,00000,00000,00000,Carolina Municipio
43848,050,72,033,00000,00000,00000,Cata침o Municipio
43849,050,72,035,00000,00000,00000,Cayey Municipio
43850,050,72,037,00000,00000,00000,Ceiba Municipio
43851,050,72,039,00000,00000,00000,Ciales Municipio
43852,050,72,041,00000,00000,00000,Cidra Municipio
43853,050,72,043,00000,00000,00000,Coamo Municipio
43854,050,72,045,00000,00000,00000,Comer칤o Municipio
43855,050,72,047,00000,00000,00000,Corozal Municipio
43856,050,72,049,00000,00000,00000,Culebra Municipio
43857,050,72,051,00000,00000,00000,Dorado Municipio
43858,050,72,053,00000,00000,00000,Fajardo Municipio
43859,050,72,054,00000,00000,00000,Florida Municipio
43860,050,72,055,00000,00000,00000,Gu치nica Municipio
43861,050,72,057,00000,00000,00000,Guayama Municipio
43862,050,72,059,00000,00000,00000,Guayanilla Municipio
43863,050,72,061,00000,00000,00000,Guaynabo Municipio
43864,050,72,063,00000,00000,00000,Gurabo Municipio
43865,050,72,065,00000,00000,00000,Hatillo Municipio
43866,050,72,067,00000,00000,00000,Hormigueros Municipio
43867,050,72,069,00000,00000,00000,Humacao Municipio
43868,050,72,071,00000,00000,00000,Isabela Municipio
43869,050,72,073,00000,00000,00000,Jayuya Municipio
43870,050,72,075,00000,00000,00000,Juana D칤az Municipio
43871,050,72,077,00000,00000,00000,Juncos Municipio
43872,050,72,079,00000,00000,00000,Lajas Municipio
43873,050,72,081,00000,00000,00000,Lares Municipio
43874,050,72,083,00000,00000,00000,Las Mar칤as Municipio
43875,050,72,085,00000,00000,00000,Las Piedras Municipio
43876,050,72,087,00000,00000,00000,Lo칤za Municipio
43877,050,72,089,00000,00000,00000,Luquillo Municipio
43878,050,72,091,00000,00000,00000,Manat칤 Municipio
43879,050,72,093,00000,00000,00000,Maricao Municipio
43880,050,72,095,00000,00000,00000,Maunabo Municipio
43881,050,72,097,00000,00000,00000,Mayag칲ez Municipio
43882,050,72,099,00000,00000,00000,Moca Municipio
43883,050,72,101,00000,00000,00000,Morovis Municipio
43884,050,72,103,00000,00000,00000,Naguabo Municipio
43885,050,72,105,00000,00000,00000,Naranjito Municipio
43886,050,72,107,00000,00000,00000,Orocovis Municipio
43887,050,72,109,00000,00000,00000,Patillas Municipio
43888,050,72,111,00000,00000,00000,Pe침uelas Municipio
43889,050,72,113,00000,00000,00000,Ponce Municipio
43890,050,72,115,00000,00000,00000,Quebradillas Municipio
43891,050,72,117,00000,00000,00000,Rinc칩n Municipio
43892,050,72,119,00000,00000,00000,R칤o Grande Municipio
43893,050,72,121,00000,00000,00000,Sabana Grande Municipio
43894,050,72,123,00000,00000,00000,Salinas Municipio
43895,050,72,125,00000,00000,00000,San Germ치n Municipio
43896,050,72,127,00000,00000,00000,San Juan Municipio
43897,050,72,129,00000,00000,00000,San Lorenzo Municipio
43898,050,72,131,00000,00000,00000,San Sebasti치n Municipio
43899,050,72,133,00000,00000,00000,Santa Isabel Municipio
43900,050,72,135,00000,00000,00000,Toa Alta Municipio
43901,050,72,137,00000,00000,00000,Toa Baja Municipio
43902,050,72,139,00000,00000,00000,Trujillo Alto Municipio
43903,050,72,141,00000,00000,00000,Utuado Municipio
43904,050,72,143,00000,00000,00000,Vega Alta Municipio
43905,050,72,145,00000,00000,00000,Vega Baja Municipio
43906,050,72,147,00000,00000,00000,Vieques Municipio
43907,050,72,149,00000,00000,00000,Villalba Municipio
43908,050,72,151,00000,00000,00000,Yabucoa Municipio
43909,050,72,153,00000,00000,00000,Yauco Municipio

In [8]:
df.rename(columns={'Area Name (including legal/statistical area description)': 'name'}, inplace=True)

### Create list of US Counties

In [9]:
counties = df.query("`County Code (FIPS)` != '000'").query("`County Subdivision Code (FIPS)` == '00000'").copy()
counties.rename(columns={'County Code (FIPS)': 'fips'}, inplace=True)
counties['stateFips'] = counties['State Code (FIPS)']
counties = counties[['name', 'fips', 'stateFips']]
counties['geoId'] = counties['stateFips'] + counties['fips']

In [10]:
counties['stateFips'].unique()

array(['01', '02', '04', '05', '06', '08', '09', '10', '11', '12', '13',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48',
       '49', '50', '51', '53', '54', '55', '56', '72'], dtype=object)

In [13]:
counties.query("stateFips != '72'").shape

(3142, 4)

In [12]:
counties.head()

             name fips stateFips  geoId
2  Autauga County  001        01  01001
3  Baldwin County  003        01  01003
4  Barbour County  005        01  01005
5     Bibb County  007        01  01007
6   Blount County  009        01  01009

In [11]:
counties.query("fips == '039'").query("stateFips == '01'")

                name fips stateFips  geoId
21  Covington County  039        01  01039

In [12]:
counties.to_csv(NEO4J_IMPORT / "00j-USCensus2017County.csv", index=False)

### Create list of US Cities

In [13]:
cities = df.query("`Place Code (FIPS)` != '00000'").copy()
cities.rename(columns={'Place Code (FIPS)': 'fips'}, inplace=True)
cities.rename(columns={'State Code (FIPS)': 'stateFips'}, inplace=True)
cities = cities[['name', 'fips', 'stateFips']]

In [14]:
cities.head()

               name   fips stateFips
69   Abbeville city  00124        01
70  Adamsville city  00460        01
71     Addison town  00484        01
72       Akron town  00676        01
73   Alabaster city  00820        01

Remove lower case city or town, they are not part of the city name. This does not effect city names that have "City" as part of their name, e.g., Atlantic City.

In [15]:
cities['name'] = cities['name'].str.replace(' city','')
cities['name'] = cities['name'].str.replace(' town','')
cities.head()

          name   fips stateFips
69   Abbeville  00124        01
70  Adamsville  00460        01
71     Addison  00484        01
72       Akron  00676        01
73   Alabaster  00820        01

In [16]:
cities.query("name == 'Atlantic City'")

                name   fips stateFips
23490  Atlantic City  02080        34

In [17]:
cities.query("name == 'Covington'")

            name   fips stateFips
3306   Covington  20064        13
8018   Covington  15490        18
11936  Covington  17848        21
12393  Covington  18125        22
31243  Covington  17700        40
37811  Covington  17680        47
38588  Covington  17372        48
40337  Covington  19728        51
40603  Covington  15290        53

In [18]:
cities.to_csv(NEO4J_IMPORT / "00j-USCensus2017City.csv", index=False)