# Protein Protein Interaction Data
**[Work in progress]**

This notebook downloads and standardizes viral-host protein data from IntAct for ingestion into the Knowledge Graph.

Data source: [IntAct](https://www.ebi.ac.uk/intact/query/pubid:IM-27814)

Authors: Kaushik Ganapathy, Eric Yu, Peter Rose (krganapa@ucsd.edu, ery010@ucsd.edu, pwrose@ucsd.edu)

In [1]:
import os
import re
import hashlib 

import pandas as pd
import numpy as np

from pathlib import Path
from Bio import SeqIO

pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

In [2]:
NEO4J_HOME = Path(os.getenv('NEO4J_HOME'))
print(NEO4J_HOME)

/Users/peter/Library/Application Support/Neo4j Desktop/Application/neo4jDatabases/database-4af96121-2328-4e2f-ba60-6d8b728a26d5/installation-4.0.3

https://www.uniprot.org/help/uniprotkb_column_names
https://www.uniprot.org/uniprot/P0DTD1#PRO_0000449630

### Retrieve interaction data from IntAct

##### Query for interactions with SARS-CoV-2: "taxid:2697049"

In [3]:
data = pd.read_csv("https://www.ebi.ac.uk/intact/export?format=mitab_25&query=taxid%3A2697049&negative=false&spoke=false&ontology=false&sort=intact-miscore&asc=false", sep='\t')

In [4]:
print('Number of interactions:', data.shape[0])

Number of interactions: 1036

In [5]:
data.head()

,#ID(s) interactor A,ID(s) interactor B,Alt. ID(s) interactor A,Alt. ID(s) interactor B,Alias(es) interactor A,Alias(es) interactor B,Interaction detection method(s),Publication 1st author(s),Publication Identifier(s),Taxid interactor A,Taxid interactor B,Interaction type(s),Source database(s),Interaction identifier(s),Confidence value(s)
0,uniprotkb:P0DTC2,uniprotkb:P0DTC2,intact:EBI-25474821,intact:EBI-25474821,psi-mi:spike_sars2-1(display_long)|uniprotkb:S...,psi-mi:spike_sars2-1(display_long)|uniprotkb:S...,"psi-mi:""MI:0410""(3D electron microscopy)",Walls et al. (2020),pubmed:32155444|imex:IM-27846,taxid:2697049(SARS-CoV-2)|taxid:2697049(SARS-C...,taxid:2697049(SARS-CoV-2)|taxid:2697049(SARS-C...,"psi-mi:""MI:0407""(direct interaction)","psi-mi:""MI:0469""(IntAct)",intact:EBI-25495631|wwpdb:6vyb|wwpdb:6vxx|imex...,intact-miscore:0.74
1,uniprotkb:P0DTC2,uniprotkb:P0DTC2,intact:EBI-25474821,intact:EBI-25474821,psi-mi:spike_sars2-1(display_long)|uniprotkb:S...,psi-mi:spike_sars2-1(display_long)|uniprotkb:S...,"psi-mi:""MI:0114""(x-ray crystallography)",Xia et al. (2020),imex:IM-27873|pubmed:32231345,taxid:2697049(SARS-CoV-2)|taxid:2697049(SARS-C...,taxid:2697049(SARS-CoV-2)|taxid:2697049(SARS-C...,"psi-mi:""MI:0407""(direct interaction)","psi-mi:""MI:0469""(IntAct)",intact:EBI-25503580|wwpdb:6LXT|imex:IM-27873-1,intact-miscore:0.74
2,uniprotkb:P0DTD1-PRO_0000449632,uniprotkb:P0DTD1-PRO_0000449632,intact:EBI-25475891,intact:EBI-25475891,psi-mi:p0dtd1-pro_0000449632(display_long)|uni...,psi-mi:p0dtd1-pro_0000449632(display_long)|uni...,"psi-mi:""MI:0114""(x-ray crystallography)",Kim. et al. (2020),pubmed:32304108|imex:IM-27884,taxid:2697049(SARS-CoV-2)|taxid:2697049(SARS-C...,taxid:2697049(SARS-CoV-2)|taxid:2697049(SARS-C...,"psi-mi:""MI:0407""(direct interaction)","psi-mi:""MI:0469""(IntAct)",intact:EBI-25504928|imex:IM-27884-1|wwpdb:6vww...,intact-miscore:0.44
3,uniprotkb:P0DTC2,uniprotkb:P0DTC2,intact:EBI-25474821,intact:EBI-25474821,psi-mi:spike_sars2-1(display_long)|uniprotkb:S...,psi-mi:spike_sars2-1(display_long)|uniprotkb:S...,"psi-mi:""MI:2338""(electron tomography)",Wrapp et al. (2020),pubmed:32075877|imex:IM-27946,taxid:2697049(SARS-CoV-2)|taxid:2697049(SARS-C...,taxid:2697049(SARS-CoV-2)|taxid:2697049(SARS-C...,"psi-mi:""MI:0407""(direct interaction)","psi-mi:""MI:0469""(IntAct)",intact:EBI-25590861|imex:IM-27946-1|wwpdb:6vsb,intact-miscore:0.74
4,uniprotkb:P0DTC2,uniprotkb:P0DTC2,intact:EBI-25474821,intact:EBI-25474821,psi-mi:spike_sars2-1(display_long)|uniprotkb:S...,psi-mi:spike_sars2-1(display_long)|uniprotkb:S...,"psi-mi:""MI:0071""(molecular sieving)",Wrapp et al. (2020),pubmed:32075877|imex:IM-27946,taxid:2697049(SARS-CoV-2)|taxid:2697049(SARS-C...,taxid:2697049(SARS-CoV-2)|taxid:2697049(SARS-C...,"psi-mi:""MI:0407""(direct interaction)","psi-mi:""MI:0469""(IntAct)",intact:EBI-25591137|imex:IM-27946-11,intact-miscore:0.74

### Process Data

In [6]:
data.rename(columns={'#ID(s) interactor A': 'interactorA', 'ID(s) interactor B': 'interactorB'}, inplace=True)

In [7]:
data = data.replace('uniprotkb','uniprot', regex=True)

#### Extract UniProt accession number and Uniprot protein id from interactor columns

In [8]:
# uniprot:P0DTD1-PRO_0000449619 -> P0DTD1-PRO_0000449619
data['id_a'] = data['interactorA'].str.replace('uniprot:', '')
data['id_b'] = data['interactorB'].str.replace('uniprot:', '')

# P0DTD1-PRO_0000449619 -> P0DTD1 (UniProt accession number)
data['accession_a'] = data['id_a'].str.split('-', expand=True)[0]
data['accession_b'] = data['id_b'].str.split('-', expand=True)[0]

# P0DTD1-PRO_0000449619 -> PRO_0000449619 (UniProt protein id)
data['pro_id_a'] = data['id_a'].str.split('-', expand=True)[1]
data['pro_id_b'] = data['id_b'].str.split('-', expand=True)[1]

# Add CURIE "uniprot.chain" as prefix (see https://registry.identifiers.org/registry/uniprot.chain)
data['pro_id_a'] = data['pro_id_a'].str.replace('PRO_', 'uniprot.chain:PRO_')
data['pro_id_b'] = data['pro_id_b'].str.replace('PRO_', 'uniprot.chain:PRO_')

data.fillna('', inplace=True)

#### Extract pubmed id
Example: imex:IM-27912|pubmed:32275855 -> 2275855

In [9]:
position_pattern = re.compile('pubmed:(\d*).')

def extract_pubmed_id(s):
    groups = position_pattern.search(s)
    if groups == None:
        return ''
    else:
        return groups.group(1)

In [10]:
data['pubmedId'] = data['Publication Identifier(s)'].apply(extract_pubmed_id)

#### Extract taxonomy id
Example: taxid:9606(human)|taxid:9606(Homo sapiens) -> 9606

In [11]:
position_pattern = re.compile('taxid:(\d*)\(')

def extract_tax_id(s):
    groups = position_pattern.search(s)
    if groups == None:
        return ''
    else:
        return groups.group(1)

In [12]:
data['taxonomy_id_a'] = data['Taxid interactor A'].apply(extract_tax_id)
data['taxonomy_id_b'] = data['Taxid interactor B'].apply(extract_tax_id)

In [13]:
data = data[['id_a', 'id_b', 'accession_a', 'accession_b', 'pro_id_a', 'pro_id_b', 'taxonomy_id_a', 'taxonomy_id_b', 'pubmedId']]

In [14]:
data.head()

,id_a,id_b,accession_a,accession_b,pro_id_a,pro_id_b,taxonomy_id_a,taxonomy_id_b,pubmedId
0,P0DTC2,P0DTC2,P0DTC2,P0DTC2,,,2697049,2697049,32155444
1,P0DTC2,P0DTC2,P0DTC2,P0DTC2,,,2697049,2697049,3223134
2,P0DTD1-PRO_0000449632,P0DTD1-PRO_0000449632,P0DTD1,P0DTD1,uniprot.chain:PRO_0000449632,uniprot.chain:PRO_0000449632,2697049,2697049,32304108
3,P0DTC2,P0DTC2,P0DTC2,P0DTC2,,,2697049,2697049,32075877
4,P0DTC2,P0DTC2,P0DTC2,P0DTC2,,,2697049,2697049,32075877

#### Restrict data to SARS-CoV-2 - human protein-protein interactions (TODO: expand to SARS, MERS, etc.)

In [15]:
data = data[((data['taxonomy_id_a'] == '2697049') & (data['taxonomy_id_b'] == '9606')) |
            ((data['taxonomy_id_b'] == '2697049') & (data['taxonomy_id_a'] == '9606'))]

In [16]:
data.drop_duplicates(inplace=True)

#### Retrieve Protein names and sequences from UniProt.org

Collect unique accession numbers

In [17]:
a = data['accession_a'].unique()
b = data['accession_b'].unique()
ids = np.unique(np.concatenate((a, b)))

In [18]:
def split_chains(accession, chains):
    chain_list = []
    for chain in chains:
        items = chain.split(';')
        feature_dict = {}
        
        try:
            if len(items) > 1:
                feature_dict['accession'] = accession
                for item in items:
                    item = item.strip()
                    if '..' in item:
                        feature_dict['start'] = int(items[0].split('..')[0])
                        feature_dict['end'] = int(items[0].split('..')[1])
                    elif item.startswith("/note="):
                        name = item[6:].replace('\"', '')
                        feature_dict['name'] = name
                    elif item.startswith("/id="):
                        pro_id = item[4:].replace('\"', '')
                        feature_dict['proId'] = 'uniprot.chain:' + pro_id
                chain_list.append(feature_dict)
        except:
            print('Skipping incomplete features for', accession, ':', chain)
            
    df = pd.DataFrame(chain_list)
    df.dropna(inplace=True)
    return df

In [19]:
seq_dfs = []
for accession in ids:
    url = f'https://www.uniprot.org/uniprot/?query=accession:{accession}&columns=id,sequence,length,protein%20names,feature(CHAIN),organism-id&format=tab'
    try:
        df = pd.read_csv(url, sep='\t')
        df.fillna('', inplace=True)
        
        whole_chain = df.copy()
        
        start = 1
        end = whole_chain.iloc[0]['Length']

        whole_chain['accession'] = accession
        whole_chain['start'] = start
        whole_chain['end'] = end
        whole_chain['name'] = whole_chain['Protein names']
        whole_chain['name'] = whole_chain['Protein names'].str.split('\(', expand=True)
        whole_chain['proId'] =''
        whole_chain = whole_chain[['accession', 'start', 'end', 'name', 'proId']]
        
        # process features (Chains)
        feature_string = df['Chain'].values[0]
        if (feature_string != ''):
            chains = feature_string.split("CHAIN ")
            chain_df = split_chains(accession, chains)
            if chain_df.shape[0] > 0:
                # Add the whole chain if it is not in the list of chains
                if chain_df.iloc[0]['start'] != start or chain_df.iloc[0]['end'] != end:
                    chain_df = pd.concat([whole_chain, chain_df])
                    
                df = df.merge(chain_df, left_on='Entry', right_on='accession', how='left')
                print(accession, end=' ')
                seq_dfs.append(df)
        else:
            df = df.merge(whole_chain, left_on='Entry', right_on='accession', how='left')
            seq_dfs.append(df)
    except:
        print("Uniprot accession not found:", accession)
        
seq = pd.concat(seq_dfs, axis=0, ignore_index=True)

A3KN83 A7MCY6 O00116 O00124 O00148 O00203 O00231 O00411 O00469 O00566 O00567 O14578 O14656 O14745 O14818 O14874 O14975 O14980 O15027 O15226 O15381 O15397 O43169 O43292 O43395 O43592 O43633 O43660 O43795 O43818 O43823 O43852 O60293 O60573 O60762 O60832 O60884 O60885 O75347 O75439 O75506 O75534 O75569 O75592 O75688 O75746 O75934 O75964 O76021 O76024 O76061 O76094 O94826 O94973 O95070 O95071 O95104 O95260 O95347 O95391 O95573 O95613 O95684 O95757 O95816 O95831 O96028 P00338 P00387 P00750 P04075 P04406 P05023 P05026 P05556 P06280 P06493 P06576 P06733 P06753 P07195 P07203 P07355 P08621 P08708 P08865 P09012 P09132 P09601 P09622 P09874 P09884 P0C7P0 P0DN76 P0DP23 P0DTC1 P0DTC2 P0DTC3 P0DTC4 P0DTC5 P0DTC6 P0DTC7 P0DTC8 P0DTC9 P0DTD1 P0DTD2 P0DTD3 P0DTD8 P10155 P11233 P11310 P11387 P11586 P11940 P12004 P12109 P12268 P13797 P13804 P13861 P13984 P14735 P15151 P15924 P16435 P16615 P16989 P17612 P17987 P19105 P19784 P21964 P22234 P22314 P25205 P25398 P25440 P25705 P25789 P26358 P26599 P27105 P27348 P27448 P28300 P29122 P30043 P30153 P30876 P31323 P31689 P31948 P33176 P33527 P34932 P35241 P35250 P35251 P35555 P35556 P35606 P35613 P35658 P35998 P37198 P38159 P38435 P38606 P40227 P40938 P40939 P42285 P42677 P42696 P46013 P46087 P46109 P46379 P46782 P46783 P47755 P47756 P48556 P48643 P49327 P49368 P49454 P49642 P49643 P50402 P50897 P50990 P50991 P51148 P51149 P51570 P51665 P52306 P52907 P52948 P53007 P53396 P53618 P53621 P55085 P55786 P55789 P55884 P57088 P57678 P58166 P59998 P60228 P60660 P60900 P61006 P61011 P61019 P61026 P61106 P61158 P61586 P61916 P61962 P61970 P62072 P62140 P62191 P62195 P62263 P62269 P62330 P62820 P62873 P62877 P63218 P63244 P67870 P67936 P78406 P82650 P82663 P82675 Q00325 Q00765 Q02978 Q04724 Q04726 Q06787 Q07021 Q08117 Q08378 Q08379 Q08431 Q10713 Q12770 Q12788 Q12789 Q12907 Q13151 Q13200 Q13206 Q13243 Q13283 Q13310 Q13438 Q13443 Q13523 Q13546 Q13561 Q13610 Q13617 Q13724 Q13868 Q14137 Q14152 Q14157 Q14181 Q14257 Q14315 Q14498 Q14739 Q14789 Q15008 Q15020 Q15024 Q15056 Q15293 Q15365 Q15366 Q15369 Q15370 Q15818 Q15904 Q15942 Q16576 Q16875 Q16891 Q1KMD3 Q2M389 Q2NL82 Q2PZI1 Q2T9J0 Q2TAA5 Q3KQU3 Q3ZCQ8 Q4G0J3 Q4KMQ2 Q4V328 Q58FF8 Q5BJF2 Q5EBL8 Q5H9R7 Q5JRX3 Q5JSZ5 Q5JTV8 Q5JWF2 Q5SSJ5 Q5SW79 Q5T1M5 Q5T6F2 Q5T9A4 Q5VT06 Q5VT66 Q5VU43 Q5VUA4 Q66GS9 Q6NXT4 Q6NXT6 Q6P2E9 Q6PKG0 Q6PML9 Q6UUV7 Q6UW63 Q6UX04 Q6Y7W6 Q6ZRP7 Q70EL1 Q76N32 Q7KZF4 Q7KZI7 Q7L2J0 Q7L8L6 Q7LGA3 Q7Z2K6 Q7Z2T5 Q7Z3B4 Q7Z4H7 Q7Z4H8 Q7Z4Q2 Q7Z5G4 Q7Z7A1 Q86UE4 Q86UT6 Q86VM9 Q86VR2 Q86YB8 Q86YT6 Q8IUD2 Q8IV08 Q8IWA5 Q8IWF2 Q8IWJ2 Q8IWR0 Q8IWR1 Q8IXB1 Q8IZ52 Q8N0X7 Q8N0Z8 Skipping incomplete features for Q8N183 : ?..169;  /note="NADH dehydrogenase [ubiquinone] 1 alpha subcomplex assembly factor 2";  /id="PRO_0000020054"
Q8N3C7 Q8N4C6 Q8N5C6 Q8N6S5 Q8N766 Q8N8E3 Q8N9T8 Q8NBJ5 Q8NBX0 Q8NC51 Q8NCA5 Q8NEJ9 Q8NEW0 Q8TAD8 Q8TD10 Q8TD19 Q8TEM1 Q8TEQ8 Q8WTT2 Q8WTV0 Q8WUY8 Q8WVC6 Q92552 Q92615 Q92769 Q92820 Q92900 Q92945 Q92974 Q92995 Q969X5 Q96A26 Q96AY3 Q96B26 Q96CN9 Q96CS3 Q96CW1 Q96CW5 Q96D53 Q96DA6 Q96DZ1 Q96ER3 Skipping incomplete features for Q96EY1 : ?..480;  /note="DnaJ homolog subfamily A member 3, mitochondrial";  /id="PRO_0000007256"
Q96F45 Q96F46 Q96HR9 Q96HW7 Q96I59 Q96IV0 Q96IZ5 Q96JC1 Q96K12 Q96MM7 Q96N16 Q96N67 Q96S52 Q96S66 Q96SB4 Q96SN8 Q99081 Q99460 Q99470 Q99519 Q99567 Q99615 Q99720 Q99832 Q99848 Q99959 Q99988 Q99996 Q9BQ95 Q9BQE4 Q9BQQ3 Q9BQS8 Q9BQT8 Q9BRN9 Q9BS26 Q9BSC4 Q9BSF4 Q9BSJ2 Q9BU02 Q9BUJ2 Q9BUQ8 Q9BV19 Q9BV73 Q9BVK2 Q9BVL2 Skipping incomplete features for Q9BW92 : ?..718;  /note="Threonine--tRNA ligase, mitochondrial";  /id="PRO_0000254586"
Q9BYF1 Q9BZE4 Q9BZQ6 Q9C0B5 Q9C0D3 Q9GZR7 Q9GZU3 Q9H078 Q9H0A0 Q9H0D6 Q9H173 Q9H270 Q9H2H8 Q9H2P9 Q9H3K2 Q9H488 Q9H4F8 Q9H4P4 Q9H5H4 Q9H6F5 Q9H773 Q9H7F0 Q9H7Z7 Q9H845 Q9H8W4 Q9H936 Q9HAU0 Q9HAV7 Q9HC36 Q9HCE1 Q9HD40 Q9NNW5 Q9NP72 Q9NQC3 Q9NQT4 Q9NQT5 Q9NR30 Q9NRN7 Q9NTJ3 Q9NU22 Q9NV92 Q9NVH1 Q9NVI7 Q9NW13 Q9NWT1 Q9NX58 Q9NXA8 Q9NXF1 Q9NXH9 Q9NXK8 Q9NXS2 Q9NY61 Q9NYL9 Q9NYU1 Q9NZ01 Q9NZJ7 Q9NZL9 Q9P015 Q9P035 Q9P0L2 Q9P2E5 Q9UBF2 Q9UBU6 Q9UBX3 Q9UBX5 Q9UDR5 Q9UH99 Q9UHD2 Q9UHI6 Q9UHI8 Q9UHX1 Q9UJC3 Q9UJV9 Q9UJZ1 Q9UKA9 Q9UKD2 Q9UL15 Q9ULT8 Q9ULV4 Q9ULX6 Q9UM54 Q9UN86 Q9UNM6 Q9UNQ2 Q9Y265 Q9Y276 Q9Y2I6 Q9Y312 Q9Y375 Q9Y383 Q9Y399 Q9Y3A6 Q9Y3U8 Q9Y4L1 Q9Y5A9 Q9Y5J6 Q9Y5J7 Q9Y5J9 Q9Y673 Q9Y680 Q9Y6E2 Q9Y6M9 Uniprot accession not found: intact:EBI

#### Cleave sequences into peptides

In [20]:
def get_subsequence(row):
    start = row['start']
    end = row['end']
    sequence = row['Sequence']
    return sequence[start-1: end]

In [21]:
seq['sequence'] = seq.apply(lambda row: get_subsequence(row), axis=1)

Set flag if protein chain is full length

In [22]:
seq['fullLength'] = (seq['start'] == 1) & (seq['end'] == seq['Length'])

In [23]:
seq['id'] = seq['sequence'].apply(lambda seq: 'md5:' + hashlib.md5(seq.encode()).hexdigest())

In [24]:
seq.rename(columns={'Organism ID': 'taxonomyId'}, inplace=True)

In [25]:
seq['name'] = seq['name'].str.strip()

In [26]:
seq.head()

,Entry,Sequence,Length,Protein names,Chain,taxonomyId,accession,start,end,name,proId,sequence,fullLength,id
0,A0A663DJA2,MGYINVFAFPFTIYSLLLCRMNSRNYIAQVDVVNFNLT,38,ORF10 proteiin (ORF10 protein),,2697049,A0A663DJA2,1,38,ORF10 proteiin,,MGYINVFAFPFTIYSLLLCRMNSRNYIAQVDVVNFNLT,True,md5:06bfef85cf1319e805e05f5bee3ec601
1,A3KN83,MVEPGQDLLLAALSESGISPNDLFDIDGGDAGLATPMPTPSVQQSV...,1393,Protein strawberry notch homolog 1 (Monocyte p...,"CHAIN 1..1393; /note=""Protein strawberry notc...",9606,A3KN83,1,1393,Protein strawberry notch homolog 1,uniprot.chain:PRO_0000314555,MVEPGQDLLLAALSESGISPNDLFDIDGGDAGLATPMPTPSVQQSV...,True,md5:a8f6908047b03fcfde873a516979cacd
2,A7MCY6,MESMFEDDISILTQEALGPSEVWLDSPGDPSLGGDMCSASHFALIT...,615,TANK-binding kinase 1-binding protein 1 (TBK1-...,"CHAIN 1..615; /note=""TANK-binding kinase 1-bi...",9606,A7MCY6,1,615,TANK-binding kinase 1-binding protein 1,uniprot.chain:PRO_0000324654,MESMFEDDISILTQEALGPSEVWLDSPGDPSLGGDMCSASHFALIT...,True,md5:38a1c0fe55ce1552e3e417004717dd21
3,O00116,MAEAAAAAGGTGLGAGASYGSAADRDRDPDPDRAGRRLRVLSGHLL...,658,"Alkyldihydroxyacetonephosphate synthase, perox...","CHAIN 59..658; /note=""Alkyldihydroxyacetoneph...",9606,O00116,1,658,"Alkyldihydroxyacetonephosphate synthase, perox...",,MAEAAAAAGGTGLGAGASYGSAADRDRDPDPDRAGRRLRVLSGHLL...,True,md5:9357ca15dc8abc6d5efb4d6b3f7c5b80
4,O00116,MAEAAAAAGGTGLGAGASYGSAADRDRDPDPDRAGRRLRVLSGHLL...,658,"Alkyldihydroxyacetonephosphate synthase, perox...","CHAIN 59..658; /note=""Alkyldihydroxyacetoneph...",9606,O00116,59,658,"Alkyldihydroxyacetonephosphate synthase, perox...",uniprot.chain:PRO_0000020431,KARRAASAATAAPTATPAAQESGTIPKKRQEVMKWNGWGYNDSKFI...,False,md5:edf403cd7e4b04b81da14b792d847d76

### Save proteins

In [27]:
proteins = seq[['id', 'name', 'accession', 'proId', 'sequence', 'start', 'end', 'fullLength', 'taxonomyId']].copy()
proteins['accession'] = 'uniprot:' + proteins['accession']
proteins['taxonomyId'] = 'taxonomy:' + proteins['taxonomyId'].astype(str)
proteins.to_csv(NEO4J_HOME / 'import/01e-ProteinProteinInteractionProtein.csv', index = False)

In [28]:
print('Number of proteins:', proteins.shape[0])

Number of proteins: 855

In [29]:
proteins.head()

,id,name,accession,proId,sequence,start,end,fullLength,taxonomyId
0,md5:06bfef85cf1319e805e05f5bee3ec601,ORF10 proteiin,uniprot:A0A663DJA2,,MGYINVFAFPFTIYSLLLCRMNSRNYIAQVDVVNFNLT,1,38,True,taxonomy:2697049
1,md5:a8f6908047b03fcfde873a516979cacd,Protein strawberry notch homolog 1,uniprot:A3KN83,uniprot.chain:PRO_0000314555,MVEPGQDLLLAALSESGISPNDLFDIDGGDAGLATPMPTPSVQQSV...,1,1393,True,taxonomy:9606
2,md5:38a1c0fe55ce1552e3e417004717dd21,TANK-binding kinase 1-binding protein 1,uniprot:A7MCY6,uniprot.chain:PRO_0000324654,MESMFEDDISILTQEALGPSEVWLDSPGDPSLGGDMCSASHFALIT...,1,615,True,taxonomy:9606
3,md5:9357ca15dc8abc6d5efb4d6b3f7c5b80,"Alkyldihydroxyacetonephosphate synthase, perox...",uniprot:O00116,,MAEAAAAAGGTGLGAGASYGSAADRDRDPDPDRAGRRLRVLSGHLL...,1,658,True,taxonomy:9606
4,md5:edf403cd7e4b04b81da14b792d847d76,"Alkyldihydroxyacetonephosphate synthase, perox...",uniprot:O00116,uniprot.chain:PRO_0000020431,KARRAASAATAAPTATPAAQESGTIPKKRQEVMKWNGWGYNDSKFI...,59,658,False,taxonomy:9606

### Merge interaction data with sequence data

In [30]:
sequences = seq[['accession', 'proId', 'id']].copy()
sequences_full_length = seq.query('fullLength')
sequences_full_length = sequences_full_length[['accession', 'proId', 'id']].copy()

In [31]:
sequences_full_length.head()

,accession,proId,id
0,A0A663DJA2,,md5:06bfef85cf1319e805e05f5bee3ec601
1,A3KN83,uniprot.chain:PRO_0000314555,md5:a8f6908047b03fcfde873a516979cacd
2,A7MCY6,uniprot.chain:PRO_0000324654,md5:38a1c0fe55ce1552e3e417004717dd21
3,O00116,,md5:9357ca15dc8abc6d5efb4d6b3f7c5b80
5,O00124,uniprot.chain:PRO_0000211033,md5:5291ee7a85d801c849a32f90c955a077

In [32]:
sequences_full_length.query("accession == 'Q9BYF1'")

    accession proId                                    id
710    Q9BYF1        md5:906dc56d5c9c5513eef859ee82e80267

In [33]:
interact = data[['accession_a', 'accession_b', 'pro_id_a', 'pro_id_b', 'pubmedId']]

In [34]:
interact.query("accession_a == 'P0DTC2'")

    accession_a accession_b pro_id_a pro_id_b pubmedId
60       P0DTC2      Q9C0B5
61       P0DTC2      Q7Z5G4
599      P0DTC2      P62269
600      P0DTC2      Q96N67
601      P0DTC2      P63244
602      P0DTC2      P40227
603      P0DTC2      P07195
604      P0DTC2      P08621
605      P0DTC2      P60660
606      P0DTC2      P47756
607      P0DTC2      P52907
608      P0DTC2      Q9NYL9
609      P0DTC2      P13797
610      P0DTC2      Q9ULV4
611      P0DTC2      P59998
612      P0DTC2      P61158
613      P0DTC2      Q9UM54
943      P0DTC2      P35613

Split dataframe into two parts, depending on the presence of a protein id for interactor A. Each part is processed differently.

In [35]:
interact_pro_a = interact.query("pro_id_a != ''").copy()
interact_acc_a = interact.query("pro_id_a == ''").copy()

In [36]:
interact_pro_a = interact_pro_a.merge(sequences, left_on='pro_id_a', right_on='proId', how='left')
interact_pro_a.fillna('', inplace=True)

In [37]:
interact_acc_a = interact_acc_a.merge(sequences_full_length, left_on='accession_a', right_on='accession', how='left')
interact_acc_a.fillna('', inplace=True)

Concatenate the dataframes back together

In [38]:
interact = pd.concat([interact_pro_a, interact_acc_a])
interact.rename(columns={'id': 'id_a'}, inplace=True)

In [39]:
print('total interactions:', interact.shape[0])

total interactions: 963

Split dataframe into two parts, depending on the presence of a protein id for interactor B. Each part is processed differently.

In [40]:
interact_pro_b = interact.query("pro_id_b != ''").copy()
interact_acc_b = interact.query("pro_id_b == ''").copy()

In [41]:
interact_pro_b = interact_pro_b.merge(sequences, left_on='pro_id_b', right_on='proId', how='left')
interact_pro_b.fillna('', inplace=True)

In [42]:
interact_acc_b = interact_acc_b.merge(sequences_full_length, left_on='accession_b', right_on='accession', how='left')
interact_acc_b.fillna('', inplace=True)

Concatenate the dataframes back together

In [43]:
interact = pd.concat([interact_pro_b, interact_acc_b])
interact.rename(columns={'id': 'id_b'}, inplace=True)
interact.head()

,accession_a,accession_b,pro_id_a,pro_id_b,pubmedId,accession_x,proId_x,id_a,accession_y,proId_y,id_b
0,O75347,P0DTC1,,uniprot.chain:PRO_0000449645,,O75347,,md5:895df31d01af35825589954917c6b682,P0DTC1,uniprot.chain:PRO_0000449645,md5:63d2c81f37726f44c600eb5225676a66
1,Q92769,P0DTD1,,uniprot.chain:PRO_0000449623,,Q92769,uniprot.chain:PRO_0000114693,md5:6d48f5d9d96f10557d680247a7cdcfe9,P0DTD1,uniprot.chain:PRO_0000449623,md5:dc6436f559bc873ac013085f6e56d467
2,Q9UJZ1,intact:EBI,,25475912,,Q9UJZ1,,md5:4f0a474a755af072900d84d3cacc6d92,,,
3,P61158,P0DTD1,,uniprot.chain:PRO_0000449633,,P61158,,md5:c07966db47593469f42f4ee1a7b0ccdf,P0DTD1,uniprot.chain:PRO_0000449633,md5:42b973dceb72cdea04fda203c55b67bc
0,P0DTD1,Q14181,uniprot.chain:PRO_0000449619,,,P0DTD1,uniprot.chain:PRO_0000449619,md5:5c2c364f44079728c451280435c4236a,Q14181,uniprot.chain:PRO_0000194035,md5:41e036ebe08ce3a96edad90d8f2efef0

In [44]:
interact.query("accession_a == 'P0DTC1'")

,accession_a,accession_b,pro_id_a,pro_id_b,pubmedId,accession_x,proId_x,id_a,accession_y,proId_y,id_b
259,P0DTC1,Q9UM54,uniprot.chain:PRO_0000449645,,,P0DTC1,uniprot.chain:PRO_0000449645,md5:63d2c81f37726f44c600eb5225676a66,Q9UM54,uniprot.chain:PRO_0000123464,md5:6c4869132f6880065ac9e8d67ff15787
260,P0DTC1,O43795,uniprot.chain:PRO_0000449645,,,P0DTC1,uniprot.chain:PRO_0000449645,md5:63d2c81f37726f44c600eb5225676a66,O43795,uniprot.chain:PRO_0000123442,md5:250d73405f887504ee3046934f5cd258
261,P0DTC1,P61158,uniprot.chain:PRO_0000449645,,,P0DTC1,uniprot.chain:PRO_0000449645,md5:63d2c81f37726f44c600eb5225676a66,P61158,,md5:c07966db47593469f42f4ee1a7b0ccdf

### Save interactions

Remove interactions without md5 ids

In [45]:
interact = interact[(interact['id_a'] != '') & (interact['id_b'] != '')]

In [46]:
interact = interact[['id_a', 'id_b']]
interact.drop_duplicates(inplace=True)
interact.to_csv(NEO4J_HOME / 'import/01e-ProteinProteinInteraction.csv', index = False)

In [47]:
print('Number of interactions:', interact.shape[0])

Number of interactions: 951

In [48]:
interact.head()

                                   id_a                                  id_b
0  md5:895df31d01af35825589954917c6b682  md5:63d2c81f37726f44c600eb5225676a66
1  md5:6d48f5d9d96f10557d680247a7cdcfe9  md5:dc6436f559bc873ac013085f6e56d467
3  md5:c07966db47593469f42f4ee1a7b0ccdf  md5:42b973dceb72cdea04fda203c55b67bc
0  md5:5c2c364f44079728c451280435c4236a  md5:41e036ebe08ce3a96edad90d8f2efef0
1  md5:5c2c364f44079728c451280435c4236a  md5:9b6eac378c77b98ec8ea9925973fbd03