# Assigns standardized locations to entities in the KG
**[Work in progress]**

This notebook standardizes location information for ingestion into a Knowledge Graph.

Author: Peter Rose (pwrose@ucsd.edu), Braden Riggs

In [1]:
import os
import pandas as pd
from pathlib import Path
import time
import unidecode
import difflib

In [2]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

In [3]:
NEO4J_IMPORT = Path(os.getenv('NEO4J_IMPORT'))
print(NEO4J_IMPORT)

/Users/peter/Library/Application Support/Neo4j Desktop/Application/neo4jDatabases/database-19636412-9e74-4bac-8a4c-c6c8b49bb9d3/installation-4.1.0/import

### Import data sources that have an `origLocation` property

In [4]:
df1 = pd.read_csv(NEO4J_IMPORT / '01d-CNCBStrain.csv', dtype='str', usecols=['origLocation'])
df2 = pd.read_csv(NEO4J_IMPORT / '02a-JHUCasesGlobal.csv', dtype='str', usecols=['origLocation'])
df = pd.concat([df1, df2])

In [5]:
df.drop_duplicates(inplace=True)
df.fillna('', inplace=True)

In [6]:
df.shape

(2104, 1)

In [7]:
df.head()

                            origLocation
0                            China,Hubei
2           Thailand,Nonthaburi Province
4                      China,Hubei,Wuhan
13                        China,Zhejiang
17  China,Guangdong Province,Zhuhai City

### Load custom GeoName mappings

In [8]:
ref = pd.read_csv("../../reference_data/GeoNameMapping.csv", usecols=['origName', 'geoName'], comment='#', dtype='str')

In [9]:
ref.head()

              origName                           geoName
0                Burma                           Myanmar
1     Congo (Kinshasa)  Democratic Republic of the Congo
2  Congo (Brazzaville)             Republic of the Congo
3        Cote d'Ivoire                       Ivory Coast
4       Czech Republic                           Czechia

In [10]:
name_list = ref[['origName', 'geoName']].values.tolist()

In [11]:
def fix_locations(text):
    for loc in name_list:
        if text.startswith(loc[0]):
            text = text.replace(loc[0], loc[1])
    return text

### Apply custom GeoName mappings

In [12]:
df['geoLocation'] = df['origLocation'].apply(lambda x: fix_locations(x))

In [13]:
df.query('geoLocation != origLocation').head()

                      origLocation                              geoLocation
51          China,Taiwan,Kaohsiung                         Taiwan,Kaohsiung
149            China,Taiwan,Taipei                            Taiwan,Taipei
195  France,Rhone-Alpes,Contamines   France,Auvergne-Rhone-Alpes,Contamines
240                China,Hong Kong                                Hong Kong
349           Netherlands,Nootdorp  Netherlands,Gemeente Pijnacker-Nootdorp

### Match Cruiseships

In [14]:
cruiseships = df[df['geoLocation'].str.startswith('CruiseShip,')].copy()

In [15]:
cruiseships.head(10)

                                 origLocation                  geoLocation
13902                       Italy,Cruise ship       CruiseShip,Cruise ship
46652  United States,Cruise_Ship_1,California     CruiseShip,Cruise_Ship_1
46658  United States,Cruise_Ship_2,California     CruiseShip,Cruise_Ship_2
865                          Diamond Princess  CruiseShip,Diamond Princess
4104                    Canada,Grand Princess    CruiseShip,Grand Princess
6004                  Canada,Diamond Princess  CruiseShip,Diamond Princess
7591                               MS Zaandam        CruiseShip,MS Zaandam

In [16]:
cruiseships = cruiseships[['origLocation', 'geoLocation']]
cruiseships.to_csv(NEO4J_IMPORT / "10a-GeoLinkCruiseShip.csv", index=False)

In [17]:
##### Remove Cruiseship data from data frame

In [18]:
df = df[~df['geoLocation'].str.startswith('CruiseShip,')].copy()

In [19]:
df.shape

(2097, 2)

In [20]:
def remove_special_characters(text):
    text = str(text)
    text = text.lower()
    # transliterate German umlaut
    text = text.replace('ü', 'ue') 
    # transliterate Unicode string into the closest possible ASCII representation
    text = unidecode.unidecode(text)
    text = text.replace("-"," ")
    text = text.replace("_"," ")
    text = text.replace(","," ")
    text = text.replace('\d+', '')
    text = text.strip()

    return text

In [21]:
def remove_affix(text):
    text = str(text)
    text = text.lower()
    # try match without prefix or suffix
#    text = text.replace("city", "")
    text = text.replace("region", "")
    text = text.replace("oblast", "") # regions in Russia
    text = text.replace("al ", "") # regions in Saudi Arabia
    text = text.replace("prefecture", "") # regions in Japan
    text = text.replace("province", "") # regions in China
    text = text.replace("district", "")
#    text = text.replace("parish", "")
    text = text.replace("gemeente", "") # regions in the Netherlands
    text = text.replace("wahlkreis", "") # regions in Switzerland
    text = text.replace("canton", "") # regions in Switzerland
    text = text.replace("municipality", "")
    text = text.replace("metropolitan", "")
    text = text.replace("state", "")
#    text = text.replace("county", "")
    text = text.replace('\d+', '')
    text = text.strip()
    return text

In [22]:
def remove_affix2(text):
    text = str(text)
    text = text.lower()
    # try match without prefix or suffix
    text = text.replace("city", "")
    text = text.replace("region", "")
    text = text.replace("oblast", "") # regions in Russia
    text = text.replace("al ", "") # regions in Saudi Arabia
    text = text.replace("prefecture", "") # regions in Japan
    text = text.replace("province", "") # regions in China
    text = text.replace("district", "")
    text = text.replace("parish", "")
    text = text.replace("gemeente", "") # regions in the Netherlands
    text = text.replace("wahlkreis", "") # regions in Switzerland
    text = text.replace("canton", "") # regions in Switzerland
    text = text.replace("municipality", "")
    text = text.replace("metropolitan", "")
    text = text.replace("state", "")
#    text = text.replace("county", "")
    text = text.replace('\d+', '')
    text = text.strip()
    return text

In [23]:
def get_close_match(x, name):
    z = difflib.get_close_matches(x, name, n=1, cutoff=0.9)
    if z:
        return z[0]
    else:
        return ''

In [24]:
df.shape

(2097, 2)

In [25]:
df['locationLevels'] = df['geoLocation'].str.count(',')
df[['loc0', 'loc1', 'loc2', 'loc3']] = df['geoLocation'].str.split(',', n=3, expand=True)
df.fillna('', inplace=True)

## Match Countries

In [26]:
countries = pd.DataFrame(df['loc0'].copy())
countries.drop_duplicates(inplace=True)
countries.dropna(inplace=True)
countries.columns=['origName']
countries['canonicalName'] = countries.apply(lambda x: remove_special_characters(x['origName']), axis=1)

In [27]:
countries.shape

(213, 2)

In [28]:
countries.head()

         origName  canonicalName
0           China          china
2        Thailand       thailand
32  United States  united states
51         Taiwan         taiwan
78         France         france

In [29]:
geo_countries = pd.read_csv(NEO4J_IMPORT / "00e-GeoNamesCountry.csv", dtype='str', usecols=['name'])

In [30]:
geo_countries['canonicalName'] = geo_countries.apply(lambda x: remove_special_characters(x['name']), axis=1)

In [31]:
countries = countries.merge(geo_countries, on='canonicalName', how='left')
countries.fillna('', inplace=True)

### Exact country matches

In [32]:
country_exact_match = countries.query("name != ''").copy()

In [33]:
country_exact_match.shape

(213, 3)

In [34]:
country_no_match = countries.query("name == ''").copy()

In [35]:
country_no_match.head()

Empty DataFrame
Columns: [origName, canonicalName, name]
Index: []

### Match Admin1

In [36]:
admin1 = pd.DataFrame(df['loc1'].copy())
admin1.drop_duplicates(inplace=True)
admin1.dropna(inplace=True)
admin1.columns=['origName']
admin1['canonicalName'] = admin1.apply(lambda x: remove_special_characters(x['origName']), axis=1)

In [37]:
geo_admin1 = pd.read_csv(NEO4J_IMPORT / "00f-GeoNamesAdmin1.csv", dtype='str', usecols=['name'])

In [38]:
geo_admin1['canonicalName'] = geo_admin1.apply(lambda x: remove_special_characters(x['name']), axis=1)

In [39]:
admin1 = admin1.merge(geo_admin1, on='canonicalName', how='left')
admin1.fillna('', inplace=True)

In [40]:
admin1_exact_match = admin1.query("name != ''").copy()
admin1_exact_match.drop_duplicates(inplace=True)

In [41]:
admin1_exact_match.shape

(423, 3)

In [42]:
admin1_exact_match.head(10)

         origName  canonicalName           name
0           Hubei          hubei          Hubei
2        Zhejiang       zhejiang       Zhejiang
4       Guangdong      guangdong      Guangdong
5      Washington     washington     Washington
6        Illinois       illinois       Illinois
8      California     california     California
9         Arizona        arizona        Arizona
10  Ile-de-France  ile de france  Ile-de-France
11         Yunnan         yunnan         Yunnan
12       Victoria       victoria       Victoria

##### Remaining locations that don't match a GeoName location

In [43]:
admin1 = admin1.query("name == ''").copy()
admin1.drop('name', axis=1, inplace=True)

In [44]:
admin1.shape

(711, 2)

In [45]:
admin1['canonicalNameNoAffix'] = admin1.apply(lambda x: remove_affix(x['canonicalName']), axis=1)

In [46]:
geo_admin1['canonicalNameNoAffix'] = geo_admin1.apply(lambda x: remove_affix(x['canonicalName']), axis=1)
admin1 = admin1.merge(geo_admin1[['name', 'canonicalNameNoAffix']], on='canonicalNameNoAffix', how='left')
admin1.fillna('', inplace=True)

In [47]:
admin1_no_affix_match = admin1.query("name != ''")

In [48]:
admin1_no_affix_match.shape

(31, 4)

In [49]:
admin1_no_affix_match.head()

,origName,canonicalName,canonicalNameNoAffix,name
0,Nonthaburi Province,nonthaburi province,nonthaburi,Nonthaburi
1,Guangdong Province,guangdong province,guangdong,Guangdong
8,Kerala State,kerala state,kerala,Kerala
38,Riyadh,riyadh,riyadh,Riyadh Region
49,Amazonas State,amazonas state,amazonas,Amazonas

In [50]:
admin1_no_match = admin1.query("name == ''").copy()
admin1_no_match.query("origName != ''", inplace=True)

In [51]:
admin1_no_match.head()

        origName  canonicalName canonicalNameNoAffix name
2      Kaohsiung      kaohsiung            kaohsiung
4         Leuven         leuven               leuven
5      Kathmandu      kathmandu            kathmandu
6           Rome           rome                 rome
7  Sihanoukville  sihanoukville        sihanoukville

### Match Admin2

In [52]:
admin2 = pd.DataFrame(df['loc2'].copy())
admin2.columns=['origName']
admin2.query("origName != ''", inplace=True)
admin2.head()

            origName
4              Wuhan
17       Zhuhai City
20     Shenzhen City
28          Shenzhen
32  Snohomish County

In [53]:
a1_no_match = pd.DataFrame(admin1_no_match['origName']).copy()

In [54]:
a1_no_match.head()

        origName
2      Kaohsiung
4         Leuven
5      Kathmandu
6           Rome
7  Sihanoukville

In [55]:
admin2.head()

            origName
4              Wuhan
17       Zhuhai City
20     Shenzhen City
28          Shenzhen
32  Snohomish County

In [56]:
# carry over regions from location level 1 that might be Admin2s or Cities
admin2 = pd.concat([admin2,a1_no_match])
admin2.drop_duplicates(inplace=True)
admin2.dropna(inplace=True)
admin2.columns=['origName']
admin2['canonicalName'] = admin2.apply(lambda x: remove_special_characters(x['origName']), axis=1)

In [57]:
geo_admin2 = pd.read_csv(NEO4J_IMPORT / "00g-GeoNamesAdmin2.csv", dtype='str', usecols=['name'])

In [58]:
geo_admin2['canonicalName'] = geo_admin2.apply(lambda x: remove_special_characters(x['name']), axis=1)

In [59]:
admin2 = admin2.merge(geo_admin2, on='canonicalName', how='left')
admin2.fillna('', inplace=True)

In [60]:
admin2_exact_match = admin2.query("name != ''").copy()
admin2_exact_match.drop_duplicates(inplace=True)

In [61]:
admin2_exact_match.shape

(375, 3)

In [62]:
admin2_exact_match.head()

            origName     canonicalName              name
3           Shenzhen          shenzhen          Shenzhen
4   Snohomish County  snohomish county  Snohomish County
7      Orange County     orange county     Orange County
17             Paris             paris             Paris
22        Gold Coast        gold coast        Gold Coast

##### Remaining locations that don't match a GeoName location

In [63]:
admin2_no_match = admin2.query("name == ''").copy()

In [64]:
admin2_no_match.shape

(1007, 3)

### Match Cities

In [65]:
city = pd.DataFrame(df['loc3'].copy())
city.columns=['origName']
city.query("origName != ''", inplace=True)
city.head(100)

                  origName
544              Sheffield
10162       Havlickuv Brod
13869  St Anton am Arlberg
36109               Bilbao
48448              Caraman
52389          Companigonj
52491   Goshbag / Lamchori

In [66]:
a2_no_match = pd.DataFrame(admin2_no_match['origName'])

In [67]:
# carry over regions from location level 1 that might be Admin2s or Cities
city = pd.concat([a2_no_match, city])
city.drop_duplicates(inplace=True)
city.dropna(inplace=True)
city.columns=['origName']
city['canonicalName'] = city.apply(lambda x: remove_special_characters(x['origName']), axis=1)

In [68]:
geo_city = pd.read_csv(NEO4J_IMPORT / "00h-GeoNamesCity.csv", dtype='str', usecols=['name'])

In [69]:
geo_city['canonicalName'] = geo_city.apply(lambda x: remove_special_characters(x['name']), axis=1)

In [70]:
city = city.merge(geo_city, on='canonicalName', how='left')
city.fillna('', inplace=True)

In [71]:
city_exact_match = city.query("name != ''").copy()
city_exact_match.drop_duplicates(inplace=True)

In [72]:
city_exact_match.shape

(678, 3)

In [73]:
city_exact_match.head()

       origName canonicalName         name
0         Wuhan         wuhan        Wuhan
3       Chicago       chicago      Chicago
4   Los Angeles   los angeles  Los Angeles
13      Phoenix       phoenix      Phoenix
19      Clayton       clayton      Clayton

In [74]:
no_match = city.query("name == ''").copy()

In [75]:
no_match.shape

(335, 3)

In [76]:
no_match.head()

          origName   canonicalName name
1      Zhuhai City     zhuhai city
2    Shenzhen City   shenzhen city
17  Guangzhou City  guangzhou city
18           Pu'er           pu'er
40       Zhongxian       zhongxian

### Match other divisions

In [77]:
divisions = no_match['origName']

In [78]:
divisions.drop_duplicates(inplace=True)
divisions.dropna(inplace=True)
divisions = divisions[divisions != '']
divisions.shape

(335,)

In [79]:
divisions = pd.DataFrame(divisions)
divisions.columns=['origName']

          origName
1      Zhuhai City
2    Shenzhen City
17  Guangzhou City
18           Pu'er
40       Zhongxian

In [80]:
divisions['canonicalName'] = divisions.apply(lambda x: remove_special_characters(x['origName']), axis=1)

In [81]:
divisions.head()

          origName   canonicalName
1      Zhuhai City     zhuhai city
2    Shenzhen City   shenzhen city
17  Guangzhou City  guangzhou city
18           Pu'er           pu'er
40       Zhongxian       zhongxian

In [82]:
geo_admin1 = pd.read_csv(NEO4J_IMPORT / "00f-GeoNamesAdmin1.csv", dtype='str', usecols=['name'])
geo_admin2 = pd.read_csv(NEO4J_IMPORT / "00g-GeoNamesAdmin2.csv", dtype='str', usecols=['name'])
geo_city = pd.read_csv(NEO4J_IMPORT / "00h-GeoNamesCity.csv", dtype='str', usecols=['name'])

In [83]:
geo_divisions = pd.concat([geo_admin1, geo_admin2, geo_city])

In [84]:
geo_divisions.drop_duplicates(inplace=True)

In [85]:
geo_divisions.shape

(154206, 1)

In [86]:
geo_divisions.dropna(inplace=True)
geo_divisions.columns=['name']
geo_divisions['canonicalName'] = geo_divisions.apply(lambda x: remove_special_characters(x['name']), axis=1)

In [87]:
geo_divisions.head()

                  name        canonicalName
0  Sant Julia de Loria  sant julia de loria
1               Ordino               ordino
2           La Massana           la massana
3               Encamp               encamp
4              Canillo              canillo

In [88]:
divisions['canonicalNameNoAffix'] = divisions.apply(lambda x: remove_affix2(x['canonicalName']), axis=1)

In [89]:
geo_divisions['canonicalNameNoAffix'] = geo_divisions.apply(lambda x: remove_affix2(x['canonicalName']), axis=1)
divisions = divisions.merge(geo_divisions[['name', 'canonicalNameNoAffix']], on='canonicalNameNoAffix', how='left')
divisions.fillna('', inplace=True)

In [90]:
divisions.head()

         origName   canonicalName canonicalNameNoAffix        name
0     Zhuhai City     zhuhai city               zhuhai      Zhuhai
1   Shenzhen City   shenzhen city             shenzhen    Shenzhen
2  Guangzhou City  guangzhou city            guangzhou   Guangzhou
3           Pu'er           pu'er                pu'er  Pu'er City
4       Zhongxian       zhongxian            zhongxian

In [91]:
divisions_exact_match = divisions.query("name != ''")

In [92]:
divisions_exact_match.shape

(33, 4)

In [93]:
divisions_exact_match.head()

             origName       canonicalName canonicalNameNoAffix        name
0         Zhuhai City         zhuhai city               zhuhai      Zhuhai
1       Shenzhen City       shenzhen city             shenzhen    Shenzhen
2      Guangzhou City      guangzhou city            guangzhou   Guangzhou
3               Pu'er               pu'er                pu'er  Pu'er City
7  Heinsberg District  heinsberg district            heinsberg   Heinsberg

### Collect all location matches

In [94]:
matches = pd.concat([country_exact_match, admin1_exact_match, admin1_no_affix_match, admin2_exact_match, divisions_exact_match, city_exact_match])

In [95]:
matches = matches[['origName', 'name']]

In [96]:
matches.shape

(1753, 2)

In [97]:
matches.tail()

                 origName                 name
1317            Sheffield            Sheffield
1324       Havlickuv Brod       Havlickuv Brod
1325  St Anton am Arlberg  St Anton am Arlberg
1326               Bilbao               Bilbao
1327              Caraman              Caraman

In [98]:
matches.query("origName == 'Zhuhai City'")

      origName    name
0  Zhuhai City  Zhuhai

In [99]:
name_list = matches[['origName', 'name']].values.tolist()
name_dict = {name: val for name, val in name_list}

In [100]:
name_dict.get('France,Normandy')

In [101]:
df['geoName0'] = df['loc0'].apply(lambda x: name_dict.get(x, ''))
df['geoName1'] = df['loc1'].apply(lambda x: name_dict.get(x, ''))
df['geoName2'] = df['loc2'].apply(lambda x: name_dict.get(x, ''))
df['geoName3'] = df['loc3'].apply(lambda x: name_dict.get(x, ''))

In [102]:
df.head()

,origLocation,geoLocation,locationLevels,loc0,loc1,loc2,loc3,geoName0,geoName1,geoName2,geoName3
0,"China,Hubei","China,Hubei",1,China,Hubei,,,China,Hubei,,
2,"Thailand,Nonthaburi Province","Thailand,Nonthaburi Province",1,Thailand,Nonthaburi Province,,,Thailand,Nonthaburi,,
4,"China,Hubei,Wuhan","China,Hubei,Wuhan",2,China,Hubei,Wuhan,,China,Hubei,Wuhan,
13,"China,Zhejiang","China,Zhejiang",1,China,Zhejiang,,,China,Zhejiang,,
17,"China,Guangdong Province,Zhuhai City","China,Guangdong Province,Zhuhai City",2,China,Guangdong Province,Zhuhai City,,China,Guangdong,Zhuhai,

Test

In [103]:
df.query("origLocation == 'Austria,St. Anton'")

,origLocation,geoLocation,locationLevels,loc0,loc1,loc2,loc3,geoName0,geoName1,geoName2,geoName3
13869,"Austria,St. Anton","Austria,Tyrol,Politischer Bezirk Landeck,St An...",3,Austria,Tyrol,Politischer Bezirk Landeck,St Anton am Arlberg,Austria,Tyrol,Politischer Bezirk Landeck,St Anton am Arlberg

In [104]:
df = df[(df['origLocation'] != '') & (df['geoName0'] != '')]
df = df[['origLocation', 'geoName0', 'geoName1', 'geoName2', 'geoName3', 'locationLevels']]
df.to_csv(NEO4J_IMPORT / "10a-GeoLink.csv", index=False)

### Remaining locations that do not match GeoNames.org locations

In [105]:
geo_divisions['canonicalName'] = geo_divisions.apply(lambda x: remove_special_characters(x['name']), axis=1)

In [106]:
geo_divisions.head()

                  name        canonicalName canonicalNameNoAffix
0  Sant Julia de Loria  sant julia de loria  sant julia de loria
1               Ordino               ordino               ordino
2           La Massana           la massana           la massana
3               Encamp               encamp               encamp
4              Canillo              canillo              canillo

In [107]:
divisions = divisions.query("name == ''")

In [108]:
divisions['name'] = divisions.apply(lambda x: get_close_match(x['canonicalName'], geo_divisions['canonicalName']), axis=1)

In [109]:
divisions_close_match = divisions.query("name != ''")

In [110]:
divisions_close_match.head(300)

,origName,canonicalName,canonicalNameNoAffix,name
4,Zhongxian,zhongxian,zhongxian,zhongxiang
5,Huaian,huaian,huaian,huainan
8,Crépy-en -Valois,crepy en valois,crepy en valois,crepy en valois
10,Northamtonshire,northamtonshire,northamtonshire,northamptonshire
11,San Francisco County,san francisco county,san francisco county,saint francis county
19,Thiensvill,thiensvill,thiensvill,thiensville
23,Tehatta,tehatta,tehatta,thatta
34,Southeast,southeast,southeast,south east
39,Sagunt,sagunt,sagunt,sagunto
40,Lutxent,lutxent,lutxent,llutxent
43,Togui,togui,togui,toguei
45,Kipen,kipen,kipen,kippen
52,Bayad,bayad,bayad,bayard
55,Riveira,riveira,riveira,rivera
57,Kynice,kynice,kynice,krynice
60,Savali,savali,savali,savalia
63,Al Matariyyah,al matariyyah,matariyyah,al matariyah
65,Moulvibazar,moulvibazar,moulvibazar,maulvibazar
66,Talod,talod,talod,talodi
80,Manah,manah,manah,matnah
81,Qurayat,qurayat,qurayat,qurayyat
82,Barka,barka,barka,barkam
85,Bahla,bahla,bahla,bahula
86,Samail,samail,samail,samahil
104,Gaziabad,gaziabad,gaziabad,ghaziabad
106,Chikkaballapura,chikkaballapura,chikkaballapura,chikkaballapur
113,San Cugat del Valles,san cugat del valles,san cugat del valles,sant cugat del valles
116,La Estrada,la estrada,la estrada,a estrada
118,Mehsana,mehsana,mehsana,mesana
134,Vinhphuc,vinhphuc,vinhphuc,vinh phuc
135,Hawali,hawali,hawali,hawalli
137,Dasman,dasman,dasman,daman
140,Marche,marche,marche,march
143,Castilla-La Mancha,castilla la mancha,castilla la mancha,castille la mancha
144,Castilla La Mancha,castilla la mancha,castilla la mancha,castille la mancha
147,Kaulile,kaulile,kaulile,kaulille
148,LaRioja,larioja,larioja,la rioja
152,Elsene,elsene,elsene,elene
156,Quevy,quevy,quevy,quievy
158,Oudergem,oudergem,oudergem,oudegem
159,Hemisem,hemisem,hemisem,hemiksem
163,Linter,linter,linter,liter
169,Fontaine-l Eveque,fontaine l eveque,fontaine l eveque,fontaine l'eveque
171,Vasterbotten,vasterbotten,vasterbotten,vaesterbotten
175,Västerbotten,vasterbotten,vasterbotten,vaesterbotten
183,Sormland,sormland,sormland,sorland
184,Varmland,varmland,varmland,vaermland
186,Ostergotland,ostergotland,ostergotland,oestergoetland
189,Jamtland,jamtland,jamtland,jaemtland
190,Vastra Gotaland,vastra gotaland,vastra gotaland,vaestra goetaland
191,Vastmanland,vastmanland,vastmanland,vaestmanland
192,Samut Prakarn,samut prakarn,samut prakarn,samut prakan
197,Kanto,kanto,kanto,kantou
207,Jonkoping,jonkoping,jonkoping,joenkoeping
213,Gavleborg,gavleborg,gavleborg,gaevleborg
214,Vasternorrland,vasternorrland,vasternorrland,vaesternorrland
218,Nakhonnayok,nakhonnayok,nakhonnayok,nakhon nayok
219,Quangninh,quangninh,quangninh,quang ninh
220,Orebro,orebro,orebro,oerebro
228,Basilicata,basilicata,basilicata,basilicate
231,Musca,musca,musca,muscat
238,Mepel,mepel,mepel,meppel
240,Edingen,edingen,edingen,hedingen
242,Madegem,madegem,madegem,maldegem
243,Quévy,quevy,quevy,quievy
245,Malle,malle,malle,mallet
248,Voroux-les-Liers,voroux les liers,voroux les liers,voroux lez liers
250,Oostende,oostende,oostende,oosteinde
251,Arbre,arbre,arbre,arbore
252,Lamine,lamine,lamine,lamin
258,Roucourt,roucourt,roucourt,rocourt
265,Brunehaut,brunehaut,brunehaut,brunehault
267,Laocai,laocai,laocai,lao cai
271,GANI TIKVA,gani tikva,gani tikva,ganei tikva
273,RAANANA,raanana,raanana,ra'anana
276,SHOAM,shoam,shoam,shoham
277,BEIT SHEMESH,beit shemesh,beit shemesh,bet shemesh
279,KFAR-HABAD,kfar habad,kfar habad,kefar habad
283,MAALOT-TARSHICHA,maalot tarshicha,maalot tarshicha,maalot tarshiha
288,Bagherhat,bagherhat,bagherhat,bagerhat
293,Sodermanland,sodermanland,sodermanland,soedermanland
300,Beverloo,beverloo,beverloo,beverlo
301,Flines-Les-Morta,flines les morta,flines les morta,flines les mortagne
303,Kansai,kansai,kansai,kasai
306,Chubu,chubu,chubu,chubut
325,Tolemaida,tolemaida,tolemaida,ptolemaida

### Locations that do not match

In [111]:
divisions_no_match = divisions.query("name == ''")

In [112]:
divisions_no_match.shape

(217, 4)

In [113]:
divisions_no_match.head(300)

,origName,canonicalName,canonicalNameNoAffix,name
6,Contamines,contamines,contamines,
9,South Yorkshire,south yorkshire,south yorkshire,
12,Meudon la Forêt,meudon la foret,meudon la foret,
13,Bronx,bronx,bronx,
14,Jian,jian,jian,
16,Xishuangbanna,xishuangbanna,xishuangbanna,
17,Campbellsp,campbellsp,campbellsp,
18,South Milw,south milw,south milw,
20,Port Washi,port washi,port washi,
21,Unknown County,unknown county,unknown county,
22,Darjeeling,darjeeling,darjeeling,
24,East Medinipur,east medinipur,east medinipur,
25,Bela - Ledec na Sazavou,bela ledec na sazavou,bela ledec na sazavou,
26,Eielson AFB,eielson afb,eielson afb,
27,Elmendorf AFB,elmendorf afb,elmendorf afb,
30,Greater Milwaukee Area,greater milwaukee area,greater milwaukee area,
31,GHEENS,gheens,gheens,
32,Mat-Su,mat su,mat su,
33,Interior,interior,interior,
35,Prantij,prantij,prantij,
36,Dhansura,dhansura,dhansura,
37,Southeast Queensland,southeast queensland,southeast queensland,
38,Northern Queensland,northern queensland,northern queensland,
41,Olleria,olleria,olleria,
42,Xeraco,xeraco,xeraco,
44,Ansermo,ansermo,ansermo,
47,Dahod,dahod,dahod,
48,Zulueta,zulueta,zulueta,
49,Donostia-San_Sebastian,donostia san sebastian,donostia san sebastian,
50,Yingtan,yingtan,yingtan,
51,Valencia_h,valencia h,valencia h,
53,Cape Town Metro,cape town metro,cape town metro,
54,LeganA(c)s,legana(c)s,legana(c)s,
56,Logrono_h,logrono h,logrono h,
58,Shailokupa,shailokupa,shailokupa,
59,Sador,sador,sador,
61,Choryasi,choryasi,choryasi,
62,Unknown,unknown,unknown,
64,Hobigonj,hobigonj,hobigonj,
67,Chuda,chuda,chuda,
69,unknown,unknown,unknown,
70,Urcuqui,urcuqui,urcuqui,
71,Klenčí,klenci,klenci,
72,Všebořice,vseborice,vseborice,
73,Mutrah,mutrah,mutrah,
74,Ar Rustaq,ar rustaq,ar rustaq,
75,Al Amrat,al amrat,amrat,
76,Ibri,ibri,ibri,
77,As Seeb,as seeb,as seeb,
78,Al Awabi,al awabi,awabi,
79,Nakhal,nakhal,nakhal,
84,Ibra,ibra,ibra,
87,Reciento,reciento,reciento,
88,General Villamil Playas,general villamil playas,genervillamil playas,
89,Mahuva,mahuva,mahuva,
90,Kamrej,kamrej,kamrej,
92,Harry Gwala,harry gwala,harry gwala,
100,Nilphamari,nilphamari,nilphamari,
101,Donostia-San Sebastian,donostia san sebastian,donostia san sebastian,
102,El Villar de Arnedo,el villar de arnedo,el villar de arnedo,
103,Pauri_Garhwal,pauri garhwal,pauri garhwal,
105,Bengaluru_Urban,bengaluru urban,bengaluru urban,
107,Hooghly,hooghly,hooghly,
108,Kalwa,kalwa,kalwa,
109,Hoogly,hoogly,hoogly,
110,Tuklakabad,tuklakabad,tuklakabad,
111,Gurugram,gurugram,gurugram,
112,Decines,decines,decines,
114,Puerto del Son,puerto del son,puerto del son,
115,Bertamirans,bertamirans,bertamirans,
117,Adajan,adajan,adajan,
119,Foreigner,foreigner,foreigner,
120,Companigonj,companigonj,companigonj,
121,Begumganj,begumganj,begumganj,
122,Kabirhat,kabirhat,kabirhat,
123,Daskroi,daskroi,daskroi,
124,Laxmipur Sadar,laxmipur sadar,laxmipur sadar,
128,King Cetshwayo,king cetshwayo,king cetshwayo,
130,Sint Eustatius and Saba,sint eustatius and saba,sint eustatius and saba,
132,Argovie,argovie,argovie,
133,Quangning,quangning,quangning,
136,Zielonogorskie,zielonogorskie,zielonogorskie,
138,Castilla y León,castilla y leon,castilla y leon,
139,Sint-Pieters-Woluwe,sint pieters woluwe,sint pieters woluwe,
141,Kostoliste,kostoliste,kostoliste,
142,Centre-Val de Loire,centre val de loire,centre vde loire,
145,Castilla y Leon,castilla y leon,castilla y leon,
146,Houthalen-Helchteren,houthalen helchteren,houthalen helchteren,
149,Ghent,ghent,ghent,
150,Brussels Capital Capital,brussels capital capital,brussels capitcapital,
151,Yernee-fraineux,yernee fraineux,yernee fraineux,
153,Honnelles,honnelles,honnelles,
154,Doornik,doornik,doornik,
155,Villerot,villerot,villerot,
157,Watermaal-Bosvoorde,watermaal bosvoorde,watermabosvoorde,
160,Zinnik,zinnik,zinnik,
161,Saisinne,saisinne,saisinne,
162,Sint-Agatha-Berchem,sint agatha berchem,sint agatha berchem,
164,Ukkel,ukkel,ukkel,
165,Blandain,blandain,blandain,
166,Lasne,lasne,lasne,
167,Tielt-Winge,tielt winge,tielt winge,
168,Ladeuze,ladeuze,ladeuze,
170,Centre - Val de Loire,centre val de loire,centre vde loire,
172,Central Czechia and Prague,central czechia and prague,centrczechia and prague,
173,New Taipei city,new taipei city,new taipei,
174,New Taipei City,new taipei city,new taipei,
178,Republic of Crymea,republic of crymea,republic of crymea,
180,Tatarstan,tatarstan,tatarstan,
182,Malopolskie,malopolskie,malopolskie,
185,Orebro lan,orebro lan,orebro lan,
187,Gavleborgs lan,gavleborgs lan,gavleborgs lan,
188,Afyon,afyon,afyon,
193,Dolnoslaskie,dolnoslaskie,dolnoslaskie,
194,Rajsathan,rajsathan,rajsathan,
195,Makkah,makkah,makkah,
198,Dolnoslakie,dolnoslakie,dolnoslakie,
199,Telengana,telengana,telengana,
200,MAKKAH,makkah,makkah,
202,South Tyrol,south tyrol,south tyrol,
204,Wielkopolskie,wielkopolskie,wielkopolskie,
205,Chattogram,chattogram,chattogram,
206,Pomorskie,pomorskie,pomorskie,
208,Lazio,lazio,lazio,
209,Pomorze,pomorze,pomorze,
210,Graubunden,graubunden,graubunden,
211,Malopolska,malopolska,malopolska,
212,Navarra,navarra,navarra,
215,Mazowieckie,mazowieckie,mazowieckie,
216,Warminsko-Mazurskie,warminsko mazurskie,warminsko mazurskie,
217,Wielkopolska,wielkopolska,wielkopolska,
221,Combined Wellington,combined wellington,combined wellington,
222,Wairarapa,wairarapa,wairarapa,
223,Counties Manukau,counties manukau,counties manukau,
224,Nelson Marlborough,nelson marlborough,nelson marlborough,
225,Waitemata,waitemata,waitemata,
226,MidCentral,midcentral,midcentral,
227,PA Trento,pa trento,pa trento,
229,Washington DC,washington dc,washington dc,
230,North Batinah,north batinah,north batinah,
232,South Batinah,south batinah,south batinah,
233,Dakhiliyah,dakhiliyah,dakhiliyah,
234,Muscta,muscta,muscta,
235,Sint-pieters-woluwe,sint pieters woluwe,sint pieters woluwe,
236,Laken,laken,laken,
237,Shape,shape,shape,
239,Neufmaison,neufmaison,neufmaison,
241,Wadelincourt,wadelincourt,wadelincourt,
244,Morlanwelz,morlanwelz,morlanwelz,
246,Scherpenheuvel-Zichem,scherpenheuvel zichem,scherpenheuvel zichem,
247,Bullingen,bullingen,bullingen,
249,Laakdaal,laakdaal,laakdaal,
253,Waasmont,waasmont,waasmont,
254,Aisemont,aisemont,aisemont,
255,Sint-Jans-Molenbeek,sint jans molenbeek,sint jans molenbeek,
256,Ere,ere,ere,
257,Beveren-Waas,beveren waas,beveren waas,
259,Bauffe,bauffe,bauffe,
260,DZ Vitez,dz vitez,dz vitez,
261,KZ Kakanj,kz kakanj,kz kakanj,
262,Vloesberg,vloesberg,vloesberg,
263,Rebecq,rebecq,rebecq,
264,Buissenal,buissenal,buissenal,
266,Graubünden,graubuenden,graubuenden,
268,Kombo,kombo,kombo,
269,Litomerice-Brnay,litomerice brnay,litomerice brnay,
270,BENI-BRAK,beni brak,beni brak,
272,HUKUK,hukuk,hukuk,
274,PARDESIA,pardesia,pardesia,
275,JERUnited StatesLEM,jerunited stateslem,jerunited slem,
278,PETAH-TIKVA,petah tikva,petah tikva,
280,TVERIA,tveria,tveria,
281,ELAD,elad,elad,
282,ELKANA,elkana,elkana,
284,TIRAT ZVI,tirat zvi,tirat zvi,
285,ZEFAT,zefat,zefat,
286,Jamtland Harjedalen,jamtland harjedalen,jamtland harjedalen,
287,Jhenaidha,jhenaidha,jhenaidha,
289,Donostia-San Sebatian,donostia san sebatian,donostia san sebatian,
290,Altenhof am Hausruck,altenhof am hausruck,altenhof am hausruck,
291,Hranice na Moravě,hranice na morave,hranice na morave,
292,Heves County,heves county,heves county,
294,Scherpenheuvel-Zchem,scherpenheuvel zchem,scherpenheuvel zchem,
295,Braffe,braffe,braffe,
296,Heusden-Zolder,heusden zolder,heusden zolder,
297,Chercq,chercq,chercq,
298,Ecaussinnes,ecaussinnes,ecaussinnes,
299,Duisberg,duisberg,duisberg,
302,HokurikuShinsyu,hokurikushinsyu,hokurikushinsyu,
304,Chushikoku,chushikoku,chushikoku,
305,Kyusyu,kyusyu,kyusyu,
307,Tohoku,tohoku,tohoku,
308,Dupnitza,dupnitza,dupnitza,
309,Ragshahi,ragshahi,ragshahi,
310,Saint-Louis (RTL),saint louis (rtl),saint louis (rtl),
311,Yeumbeul,yeumbeul,yeumbeul,
312,Guediawaye,guediawaye,guediawaye,
313,Mbao,mbao,mbao,
314,Capital,capital,capital,
315,Uijeongbu,uijeongbu,uijeongbu,
316,Keur Massar,keur massar,keur massar,
317,Kefar Sava,kefar sava,kefar sava,
318,Sangalkam,sangalkam,sangalkam,
319,Jashore,jashore,jashore,
320,Plzeň,plzen,plzen,
321,Dhahirah,dhahirah,dhahirah,
322,North Sharqiyah,north sharqiyah,north sharqiyah,
324,LiÃ¨ge,"lia""ge","lia""ge",
326,Leitrim,leitrim,leitrim,
327,Yamalo-Nenets Autonomous Okrug,yamalo nenets autonomous okrug,yamalo nenets autonomous okrug,
329,Catalunya,catalunya,catalunya,
330,NA,na,na,
331,Lodzkie,lodzkie,lodzkie,
332,Prague-Miskovice,prague miskovice,prague miskovice,
333,Kongo Central,kongo central,kongo central,
334,Cuzco,cuzco,cuzco,
335,Goshbag / Lamchori,goshbag / lamchori,goshbag / lamchori,