# Example queries for Case Counts on COVID-19 Knowledge Graph
[Work in progress]

This notebook demonstrates how to run Cypher queries to retrieve and aggregate COVID-19 case counts.

COVID-19 case numbers are provided by:

Country and US County level data: [JHU](https://github.com/covid-19-net/covid-19-community/blob/master/reference_data/DataProvider.csv#L6)

San Diego data by zip code: [SDHHSA](https://github.com/covid-19-net/covid-19-community/blob/master/reference_data/DataProvider.csv#L7)

In [1]:
import datetime
import pandas as pd
from py2neo import Graph

In [2]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

#### Connect to COVID-19-Net Knowledge Graph

In [3]:
graph = Graph("bolt://132.249.238.185:7687", user="reader", password="demo")

In [4]:
# currently defining "yesterday" as two days from current date, 
# since there are time periods during the day, where data from the 
# previous day are not yet available in UTC date.
today = datetime.datetime.utcnow().date()
yesterday = today - datetime.timedelta(days=2)

## COVID Case Data

### Case counts by Country

In [5]:
query = """
MATCH (c:Cases{date: date($day), source: 'JHU'})-[:REPORTED_IN]->(n:Country)
RETURN n.name, c.cummulativeConfirmed, c.cummulativeDeaths, c.date as dateUTC
ORDER by n.name
"""
graph.run(query, day=yesterday).to_data_frame()

,n.name,c.cummulativeConfirmed,c.cummulativeDeaths,dateUTC
0,Afghanistan,31517,746,2020-06-30
1,Albania,2535,62,2020-06-30
2,Algeria,13907,912,2020-06-30
3,Andorra,855,52,2020-06-30
4,Angola,284,13,2020-06-30
5,Anguilla,3,0,2020-06-30
6,Antigua and Barbuda,69,3,2020-06-30
7,Argentina,64530,1307,2020-06-30
8,Armenia,25542,443,2020-06-30
9,Aruba,103,3,2020-06-30
10,Austria,17766,705,2020-06-30
11,Azerbaijan,17524,213,2020-06-30
12,Bahamas,104,11,2020-06-30
13,Bahrain,26758,87,2020-06-30
14,Bangladesh,145483,1847,2020-06-30
15,Barbados,97,7,2020-06-30
16,Belarus,62118,392,2020-06-30
17,Belgium,61427,9747,2020-06-30
18,Belize,24,2,2020-06-30
19,Benin,1199,21,2020-06-30
20,Bermuda,146,9,2020-06-30
21,Bhutan,77,0,2020-06-30
22,Bolivia,33219,1123,2020-06-30
23,Bosnia and Herzegovina,4453,186,2020-06-30
24,Botswana,227,1,2020-06-30
25,Brazil,1402041,59594,2020-06-30
26,British Virgin Islands,8,1,2020-06-30
27,Brunei,141,3,2020-06-30
28,Bulgaria,4989,230,2020-06-30
29,Burkina Faso,962,53,2020-06-30
30,Burundi,170,1,2020-06-30
31,Cabo Verde,1227,15,2020-06-30
32,Cambodia,141,0,2020-06-30
33,Cameroon,12592,313,2020-06-30
34,Cayman Islands,200,1,2020-06-30
35,Central African Republic,3745,47,2020-06-30
36,Chad,866,74,2020-06-30
37,Chile,279393,5688,2020-06-30
38,Colombia,95269,3376,2020-06-30
39,Comoros,303,7,2020-06-30
40,Costa Rica,3459,16,2020-06-30
41,Croatia,2777,107,2020-06-30
42,Cuba,2341,86,2020-06-30
43,Curacao,23,1,2020-06-30
44,Cyprus,998,19,2020-06-30
45,Czechia,11954,349,2020-06-30
46,Democratic Republic of the Congo,7039,170,2020-06-30
47,Denmark,12768,605,2020-06-30
48,Djibouti,4682,54,2020-06-30
49,Dominica,18,0,2020-06-30
50,Dominican Republic,32568,747,2020-06-30
51,Ecuador,56432,4527,2020-06-30
52,Egypt,68311,2953,2020-06-30
53,El Salvador,6438,174,2020-06-30
54,Equatorial Guinea,2001,32,2020-06-30
55,Eritrea,203,0,2020-06-30
56,Estonia,1989,69,2020-06-30
57,Eswatini,812,11,2020-06-30
58,Ethiopia,5846,103,2020-06-30
59,Falkland Islands,13,0,2020-06-30
60,Faroe Islands,187,0,2020-06-30
61,Fiji,18,0,2020-06-30
62,Finland,7214,328,2020-06-30
63,France,194373,29763,2020-06-30
64,French Guiana,4004,15,2020-06-30
65,French Polynesia,62,0,2020-06-30
66,Gabon,5394,42,2020-06-30
67,Gambia,49,2,2020-06-30
68,Georgia,928,15,2020-06-30
69,Germany,195418,8990,2020-06-30
70,Ghana,17741,112,2020-06-30
71,Gibraltar,177,0,2020-06-30
72,Greece,3409,192,2020-06-30
73,Greenland,13,0,2020-06-30
74,Grenada,23,0,2020-06-30
75,Guatemala,18096,773,2020-06-30
76,Guernsey,571,47,2020-06-30
77,Guinea,5391,33,2020-06-30
78,Guinea-Bissau,1654,24,2020-06-30
79,Guyana,245,12,2020-06-30
80,Haiti,5975,105,2020-06-30
81,Honduras,19558,497,2020-06-30
82,Hong Kong,1205,7,2020-06-30
83,Hungary,4155,585,2020-06-30
84,Iceland,1842,10,2020-06-30
85,India,585481,17400,2020-06-30
86,Indonesia,56385,2876,2020-06-30
87,Iran,227662,10817,2020-06-30
88,Iraq,49109,1943,2020-06-30
89,Ireland,25473,1736,2020-06-30
90,Isle of Man,336,24,2020-06-30
91,Israel,25244,320,2020-06-30
92,Italy,240578,34767,2020-06-30
93,Ivory Coast,9499,68,2020-06-30
94,Jamaica,702,10,2020-06-30
95,Japan,18615,972,2020-06-30
96,Jordan,1132,9,2020-06-30
97,Kazakhstan,22308,188,2020-06-30
98,Kenya,6366,148,2020-06-30
99,Kosovo,2878,51,2020-06-30
100,Kuwait,46195,354,2020-06-30
101,Kyrgyzstan,5506,61,2020-06-30
102,Laos,19,0,2020-06-30
103,Latvia,1118,30,2020-06-30
104,Lebanon,1778,34,2020-06-30
105,Lesotho,27,0,2020-06-30
106,Liberia,780,36,2020-06-30
107,Libya,824,24,2020-06-30
108,Liechtenstein,82,1,2020-06-30
109,Lithuania,1817,78,2020-06-30
110,Luxembourg,4299,110,2020-06-30
111,Macao,46,0,2020-06-30
112,Madagascar,2214,20,2020-06-30
113,Malawi,1224,14,2020-06-30
114,Malaysia,8639,121,2020-06-30
115,Maldives,2361,9,2020-06-30
116,Mali,2181,116,2020-06-30
117,Malta,670,9,2020-06-30
118,Mauritania,4363,129,2020-06-30
119,Mauritius,341,10,2020-06-30
120,Mayotte,2603,35,2020-06-30
121,Mexico,226089,27769,2020-06-30
122,Moldova,16613,545,2020-06-30
123,Monaco,103,4,2020-06-30
124,Mongolia,220,0,2020-06-30
125,Montenegro,548,12,2020-06-30
126,Montserrat,11,1,2020-06-30
127,Morocco,12533,228,2020-06-30
128,Mozambique,889,6,2020-06-30
129,Myanmar,299,6,2020-06-30
130,Namibia,205,0,2020-06-30
131,Nepal,13564,29,2020-06-30
132,Netherlands,50273,6113,2020-06-30
133,New Caledonia,21,0,2020-06-30
134,New Zealand,1528,22,2020-06-30
135,Nicaragua,2519,83,2020-06-30
136,Niger,1075,67,2020-06-30
137,Nigeria,25694,590,2020-06-30
138,North Macedonia,6334,302,2020-06-30
139,Norway,8879,250,2020-06-30
140,Oman,40070,176,2020-06-30
141,Pakistan,213470,4395,2020-06-30
142,Palestinian Territory,2428,8,2020-06-30
143,Panama,33550,631,2020-06-30
144,Papua New Guinea,11,0,2020-06-30
145,Paraguay,2221,17,2020-06-30
146,Peru,285213,9677,2020-06-30
147,Philippines,37514,1266,2020-06-30
148,Poland,34393,1463,2020-06-30
149,Portugal,42141,1576,2020-06-30
150,Qatar,96088,113,2020-06-30
151,Republic of the Congo,1087,37,2020-06-30
152,Romania,26970,1651,2020-06-30
153,Russia,646929,9306,2020-06-30
154,Rwanda,1025,2,2020-06-30
155,Saint Barthelemy,6,0,2020-06-30
156,Saint Kitts and Nevis,15,0,2020-06-30
157,Saint Lucia,19,0,2020-06-30
158,Saint Pierre and Miquelon,1,0,2020-06-30
159,Saint Vincent and the Grenadines,29,0,2020-06-30
160,San Marino,698,42,2020-06-30
161,Sao Tome and Principe,714,13,2020-06-30
162,Saudi Arabia,190823,1649,2020-06-30
163,Senegal,6793,112,2020-06-30
164,Serbia,14564,277,2020-06-30
165,Seychelles,81,0,2020-06-30
166,Sierra Leone,1462,60,2020-06-30
167,Singapore,43907,26,2020-06-30
168,Sint Maarten,77,15,2020-06-30
169,Slovakia,1667,28,2020-06-30
170,Slovenia,1600,111,2020-06-30
171,Somalia,2924,90,2020-06-30
172,South Africa,151209,2657,2020-06-30
173,South Korea,12850,282,2020-06-30
174,South Sudan,2007,38,2020-06-30
175,Spain,249271,28355,2020-06-30
176,Sri Lanka,2047,11,2020-06-30
177,Sudan,9257,572,2020-06-30
178,Suriname,515,13,2020-06-30
179,Sweden,68451,5333,2020-06-30
180,Switzerland,31714,1963,2020-06-30
181,Syria,279,9,2020-06-30
182,Taiwan,447,7,2020-06-30
183,Tajikistan,5900,52,2020-06-30
184,Tanzania,509,21,2020-06-30
185,Thailand,3171,58,2020-06-30
186,Timor Leste,24,0,2020-06-30
187,Togo,650,14,2020-06-30
188,Trinidad and Tobago,130,8,2020-06-30
189,Tunisia,1174,50,2020-06-30
190,Turkey,199906,5131,2020-06-30
191,Turks and Caicos Islands,41,2,2020-06-30
192,Uganda,889,0,2020-06-30
193,Ukraine,45254,1173,2020-06-30
194,United Arab Emirates,48667,315,2020-06-30
195,United Kingdom,312654,43730,2020-06-30
196,United States,2635603,127417,2020-06-30
197,Uruguay,936,27,2020-06-30
198,Uzbekistan,8503,26,2020-06-30
199,Vatican,12,0,2020-06-30
200,Venezuela,5832,51,2020-06-30
201,Vietnam,355,0,2020-06-30
202,Western Sahara,10,1,2020-06-30
203,Yemen,1158,312,2020-06-30
204,Zambia,1594,24,2020-06-30
205,Zimbabwe,591,7,2020-06-30

### Case counts by US States aggregated from US Counties
Note, some counties in the Johns Hopkins dataset cannot be mapped to US counties. They are listed in as "None"

In [6]:
query = """
MATCH (c:Cases{date: $date, source: 'JHU'})-[:REPORTED_IN]->(a:Admin2)-[:IN]->(a1:Admin1)
RETURN a1.name as state, a1.code, a1.location, sum(c.cummulativeDeaths) as deaths, sum(c.cummulativeConfirmed) as confirmed, c.date as date
ORDER BY a1.code
"""
graph.run(query, date=yesterday).to_data_frame()

,state,a1.code,a1.location,deaths,confirmed,date
0,Alaska,AK,"(-150.00028, 64.00028)",14,934,2020-06-30
1,Alabama,AL,"(-86.75026, 32.75041)",924,37244,2020-06-30
2,Arkansas,AR,"(-92.50044, 34.75037)",267,19244,2020-06-30
3,Arizona,AZ,"(-111.50098, 34.5003)",1644,79227,2020-06-30
4,California,CA,"(-119.75126, 37.25022)",6032,227815,2020-06-30
5,Colorado,CO,"(-105.50083, 39.00027)",1690,32698,2020-06-30
6,Connecticut,CT,"(-72.66648, 41.66704)",4322,46310,2020-06-30
7,Delaware,DE,"(-75.49992, 39.00039)",509,11436,2020-06-30
8,Florida,FL,"(-82.5001, 28.75054)",3451,149617,2020-06-30
9,Georgia,GA,"(-83.50018, 32.75042)",2756,74581,2020-06-30
10,Hawaii,HI,"(-156.38612, 20.78785)",18,900,2020-06-30
11,Iowa,IA,"(-93.50049, 42.00027)",716,29071,2020-06-30
12,Idaho,ID,"(-114.25118, 44.5002)",92,6116,2020-06-30
13,Illinois,IL,"(-89.25037, 40.00032)",6788,141262,2020-06-30
14,Indiana,IN,"(-86.25027, 40.00032)",2383,43764,2020-06-30
15,Kansas,KS,"(-98.50063, 38.50029)",272,14370,2020-06-30
16,Kentucky,KY,"(-84.87762, 38.20042)",565,15622,2020-06-30
17,Louisiana,LA,"(-92.0004, 31.00047)",2629,51071,2020-06-30
18,Massachusetts,MA,"(-71.10832, 42.36565)",8046,108530,2020-06-30
19,Maryland,MD,"(-76.74997, 39.00039)",2773,59376,2020-06-30
20,Maine,ME,"(-69.24977, 45.50032)",105,3251,2020-06-30
21,Michigan,MI,"(-85.50033, 44.25029)",6066,65453,2020-06-30
22,Minnesota,MN,"(-94.25055, 46.25024)",1427,36059,2020-06-30
23,Missouri,MO,"(-92.50046, 38.25031)",174,8517,2020-06-30
24,Mississippi,MS,"(-89.75036, 32.75041)",1058,25936,2020-06-30
25,Montana,MT,"(-109.75102, 47.00025)",22,967,2020-06-30
26,North Carolina,NC,"(-80.00032, 35.50069)",1380,65327,2020-06-30
27,North Dakota,ND,"(-100.00068, 47.50027)",79,3576,2020-06-30
28,Nebraska,NE,"(-99.75067, 41.50028)",273,19003,2020-06-30
29,New Hampshire,NH,"(-71.4998, 43.66702)",371,5781,2020-06-30
30,New Jersey,NJ,"(-74.49987, 40.16706)",15035,171025,2020-06-30
31,New Mexico,NM,"(-106.00085, 34.50034)",488,10293,2020-06-30
32,Nevada,NV,"(-116.75119, 39.25021)",507,18456,2020-06-30
33,New York,NY,"(-75.4999, 43.00035)",32032,393454,2020-06-30
34,Ohio,OH,"(-83.00018, 40.25034)",2863,51789,2020-06-30
35,Oklahoma,OK,"(-97.50328, 35.49209)",387,13757,2020-06-30
36,Oregon,OR,"(-120.50139, 44.00013)",207,8656,2020-06-30
37,Pennsylvania,PA,"(-77.7, 40.8)",6649,91139,2020-06-30
38,Rhode Island,RI,"(-71.49978, 41.75038)",0,15229,2020-06-30
39,South Carolina,SC,"(-81.00009, 34.00043)",739,36399,2020-06-30
40,South Dakota,SD,"(-100.25069, 44.50026)",91,6764,2020-06-30
41,Tennessee,TN,"(-86.25027, 35.75035)",597,42188,2020-06-30
42,Texas,TX,"(-99.25061, 31.25044)",2455,163060,2020-06-30
43,Utah,UT,"(-111.75103, 39.25024)",146,17968,2020-06-30
44,Virginia,VA,"(-77.44675, 37.54812)",1413,47760,2020-06-30
45,Vermont,VT,"(-72.74983, 44.00034)",56,1202,2020-06-30
46,Washington,WA,"(-120.50147, 47.50012)",1332,32746,2020-06-30
47,Wisconsin,WI,"(-90.00041, 44.50024)",783,28495,2020-06-30
48,West Virginia,WV,"(-80.50009, 38.50038)",93,2900,2020-06-30
49,Wyoming,WY,"(-107.5009, 43.00024)",1,1487,2020-06-30
50,None,None,None,2975,65350,2020-06-30

### Current cases in San Diego County

In [7]:
admin2 = 'San Diego County'

query = """
MATCH (c:Cases{date: date($day), source: 'JHU'})-[:REPORTED_IN]->(a:Admin2{name: $admin2})
RETURN a.name as name, c.cummulativeConfirmed as confirmed, c.cummulativeDeaths as deaths, c.date as date
"""
graph.run(query, admin2=admin2, day=yesterday).to_data_frame()

               name  confirmed  deaths        date
0  San Diego County      14149     365  2020-06-30

### COVID-19 Cases Time Series in San Diego County

In [8]:
query = """
MATCH (c:Cases{source: 'JHU'})-[:REPORTED_IN]->(a:Admin2{name: $admin2})
RETURN a.name as name, c.cummulativeConfirmed as confirmed, c.cummulativeDeaths as deaths, c.date as date
ORDER BY c.date DESC
"""
graph.run(query, admin2=admin2).to_data_frame()

                 name  confirmed  deaths        date
0    San Diego County      14623     370  2020-07-01
1    San Diego County      14149     365  2020-06-30
2    San Diego County      13832     361  2020-06-29
3    San Diego County      13334     361  2020-06-28
4    San Diego County      12837     360  2020-06-27
5    San Diego County      12401     358  2020-06-26
6    San Diego County      11961     352  2020-06-25
7    San Diego County      11626     347  2020-06-24
8    San Diego County      11294     341  2020-06-23
9    San Diego County      11096     338  2020-06-22
10   San Diego County      10794     338  2020-06-21
11   San Diego County      10484     338  2020-06-20
12   San Diego County      10350     332  2020-06-19
13   San Diego County      10092     331  2020-06-18
14   San Diego County       9730     323  2020-06-17
15   San Diego County       9730     323  2020-06-16
16   San Diego County       9610     320  2020-06-15
17   San Diego County       9440     319  2020-06-14
18   San Diego County       9314     319  2020-06-13
19   San Diego County       8998     308  2020-06-12
20   San Diego County       8998     308  2020-06-11
21   San Diego County       8837     305  2020-06-10
22   San Diego County       8619     296  2020-06-09
23   San Diego County       8619     296  2020-06-08
24   San Diego County       8345     296  2020-06-07
25   San Diego County       8345     296  2020-06-06
26   San Diego County       7940     288  2020-06-05
27   San Diego County       7798     283  2020-06-04
28   San Diego County       7674     276  2020-06-03
29   San Diego County       7554     269  2020-06-02
30   San Diego County       7481     269  2020-06-01
31   San Diego County       7481     269  2020-05-31
32   San Diego County       7385     269  2020-05-30
33   San Diego County       7100     260  2020-05-29
34   San Diego County       7100     260  2020-05-28
35   San Diego County       6882     249  2020-05-27
36   San Diego County       6797     249  2020-05-26
37   San Diego County       6701     249  2020-05-25
38   San Diego County       6559     249  2020-05-24
39   San Diego County       6559     249  2020-05-23
40   San Diego County       6315     241  2020-05-22
41   San Diego County       6140     230  2020-05-21
42   San Diego County       6140     230  2020-05-20
43   San Diego County       6026     222  2020-05-19
44   San Diego County       5836     209  2020-05-18
45   San Diego County       5836     209  2020-05-17
46   San Diego County       5662     209  2020-05-16
47   San Diego County       5391     200  2020-05-15
48   San Diego County       5391     200  2020-05-14
49   San Diego County       5161     190  2020-05-13
50   San Diego County       5161     190  2020-05-12
51   San Diego County       5065     175  2020-05-11
52   San Diego County       4776     175  2020-05-10
53   San Diego County       4662     169  2020-05-09
54   San Diego County       4429     165  2020-05-08
55   San Diego County       4319     158  2020-05-07
56   San Diego County       4319     158  2020-05-06
57   San Diego County       4020     144  2020-05-05
58   San Diego County       3927     139  2020-05-04
59   San Diego County       3927     139  2020-05-03
60   San Diego County       3711     134  2020-05-02
61   San Diego County       3564     124  2020-05-01
62   San Diego County       3432     120  2020-04-30
63   San Diego County       3432     120  2020-04-29
64   San Diego County       3141     113  2020-04-28
65   San Diego County       3043     111  2020-04-27
66   San Diego County       2943     111  2020-04-26
67   San Diego County       2943     111  2020-04-25
68   San Diego County       2826     102  2020-04-24
69   San Diego County       2643     100  2020-04-23
70   San Diego County       2491      96  2020-04-22
71   San Diego County       2325      72  2020-04-21
72   San Diego County       2268      71  2020-04-20
73   San Diego County       2213      71  2020-04-19
74   San Diego County       2158      70  2020-04-18
75   San Diego County       2087      63  2020-04-17
76   San Diego County       2012      60  2020-04-16
77   San Diego County       1930      53  2020-04-15
78   San Diego County       1847      47  2020-04-14
79   San Diego County       1804      45  2020-04-13
80   San Diego County       1761      45  2020-04-12
81   San Diego County       1693      44  2020-04-11
82   San Diego County       1628      40  2020-04-10
83   San Diego County       1530      36  2020-04-09
84   San Diego County       1454      31  2020-04-08
85   San Diego County       1404      19  2020-04-07
86   San Diego County       1326      19  2020-04-06
87   San Diego County       1209      18  2020-04-05
88   San Diego County       1112      17  2020-04-04
89   San Diego County        966      16  2020-04-03
90   San Diego County        849      15  2020-04-02
91   San Diego County        733       9  2020-04-01
92   San Diego County        603       7  2020-03-31
93   San Diego County        515       7  2020-03-30
94   San Diego County        484       7  2020-03-29
95   San Diego County        413       6  2020-03-28
96   San Diego County        341       3  2020-03-27
97   San Diego County        293       3  2020-03-26
98   San Diego County        238       2  2020-03-25
99   San Diego County        226       1  2020-03-24
100  San Diego County        201       1  2020-03-23
101  San Diego County        155       0  2020-03-22
102  San Diego County        127       0  2020-03-21
103  San Diego County        127       0  2020-03-20
104  San Diego County         80       0  2020-03-19
105  San Diego County         60       0  2020-03-18
106  San Diego County         55       0  2020-03-17
107  San Diego County         55       0  2020-03-16
108  San Diego County         16       0  2020-03-15
109  San Diego County         10       0  2020-03-14
110  San Diego County          8       0  2020-03-13
111  San Diego County          5       0  2020-03-12
112  San Diego County          3       0  2020-03-11
113  San Diego County          3       0  2020-03-10
114  San Diego County          3       0  2020-03-09
115  San Diego County          3       0  2020-03-08
116  San Diego County          3       0  2020-03-07
117  San Diego County          3       0  2020-03-06
118  San Diego County          3       0  2020-03-05
119  San Diego County          2       0  2020-03-04
120  San Diego County          2       0  2020-03-03
121  San Diego County          2       0  2020-03-02
122  San Diego County          2       0  2020-03-01
123  San Diego County          2       0  2020-02-29
124  San Diego County          2       0  2020-02-28
125  San Diego County          2       0  2020-02-27
126  San Diego County          2       0  2020-02-26
127  San Diego County          2       0  2020-02-25
128  San Diego County          2       0  2020-02-24
129  San Diego County          2       0  2020-02-23
130  San Diego County          2       0  2020-02-22
131  San Diego County          2       0  2020-02-21
132  San Diego County          2       0  2020-02-20
133  San Diego County          2       0  2020-02-19
134  San Diego County          2       0  2020-02-18
135  San Diego County          2       0  2020-02-17
136  San Diego County          2       0  2020-02-16
137  San Diego County          2       0  2020-02-15
138  San Diego County          2       0  2020-02-14
139  San Diego County          2       0  2020-02-13
140  San Diego County          1       0  2020-02-12
141  San Diego County          1       0  2020-02-11

### COVID-19 Cases in San Diego Country by Zip code
The latest data may show up with a delay. If no output is show, adjust the date to a day earlier using this format: `date('2020-06-21')`.

In [9]:
query = """
MATCH (c:Cases{date: date($day), source: 'SDHHSA'})-[:REPORTED_IN]->(p:PostalCode)
RETURN p.name as zip, p.placeName, p.location, c.cummulativeConfirmed as confirmed, c.date as date
ORDER by zip
"""
graph.run(query, day=yesterday).to_data_frame()

       zip         p.placeName            p.location  confirmed        date
0    91901              Alpine  (-116.7543, 32.8282)         26  2020-06-30
1    91902              Bonita  (-117.0221, 32.6671)         73  2020-06-30
2    91905           Boulevard    (-116.32, 32.6719)          4  2020-06-30
3    91906               Campo  (-116.4905, 32.6605)          7  2020-06-30
4    91910         Chula Vista  (-117.0676, 32.6371)        643  2020-06-30
5    91911         Chula Vista  (-117.0565, 32.6084)        860  2020-06-30
6    91913         Chula Vista  (-116.9852, 32.6513)        279  2020-06-30
7    91914         Chula Vista  (-116.9652, 32.6587)         89  2020-06-30
8    91915         Chula Vista  (-116.9408, 32.6315)        150  2020-06-30
9    91916            Descanso   (-116.6027, 32.873)          3  2020-06-30
10   91917             Dulzura  (-116.7285, 32.6152)         20  2020-06-30
11   91932      Imperial Beach  (-117.1148, 32.5783)        204  2020-06-30
12   91935               Jamul  (-116.8323, 32.7163)         26  2020-06-30
13   91941             La Mesa  (-117.0115, 32.7604)        125  2020-06-30
14   91942             La Mesa  (-117.0189, 32.7835)        135  2020-06-30
15   91945         Lemon Grove  (-117.0326, 32.7332)        156  2020-06-30
16   91950       National City  (-117.0897, 32.6749)        670  2020-06-30
17   91963             Potrero  (-116.6037, 32.6205)         14  2020-06-30
18   91977       Spring Valley   (-116.9976, 32.724)        424  2020-06-30
19   91978       Spring Valley  (-116.9596, 32.7329)         41  2020-06-30
20   91980              Tecate  (-116.6192, 32.5889)         10  2020-06-30
21   92003             Bonsall   (-117.1897, 33.294)         10  2020-06-30
22   92004     Borrego Springs  (-116.3514, 33.2386)         11  2020-06-30
23   92007  Cardiff By The Sea   (-117.2745, 33.023)         21  2020-06-30
24   92008            Carlsbad   (-117.325, 33.1602)         50  2020-06-30
25   92009            Carlsbad  (-117.2619, 33.0954)         74  2020-06-30
26   92010            Carlsbad  (-117.3009, 33.1639)         28  2020-06-30
27   92011            Carlsbad  (-117.2943, 33.1072)         30  2020-06-30
28   92014             Del Mar   (-117.249, 32.9665)         34  2020-06-30
29   92019            El Cajon  (-116.9191, 32.7777)        168  2020-06-30
30   92020            El Cajon  (-116.9665, 32.7928)        434  2020-06-30
31   92021            El Cajon  (-116.9223, 32.8178)        406  2020-06-30
32   92024           Encinitas  (-117.2689, 33.0535)        110  2020-06-30
33   92025           Escondido    (-117.07, 33.1101)        214  2020-06-30
34   92026           Escondido  (-117.0978, 33.1605)        179  2020-06-30
35   92027           Escondido   (-117.052, 33.1388)        202  2020-06-30
36   92028           Fallbrook    (-117.229, 33.369)        122  2020-06-30
37   92029           Escondido  (-117.1128, 33.0895)         40  2020-06-30
38   92036              Julian  (-116.5658, 33.0534)          4  2020-06-30
39   92037            La Jolla  (-117.2521, 32.8455)         84  2020-06-30
40   92040            Lakeside  (-116.9201, 32.8562)        107  2020-06-30
41   92054           Oceanside  (-117.3573, 33.2072)        106  2020-06-30
42   92055      Camp Pendleton  (-117.3768, 33.2433)          5  2020-06-30
43   92056           Oceanside  (-117.2831, 33.1968)        122  2020-06-30
44   92057           Oceanside  (-117.3025, 33.2407)        124  2020-06-30
45   92058           Oceanside  (-117.3795, 33.1959)         70  2020-06-30
46   92059                Pala  (-117.0717, 33.3777)          3  2020-06-30
47   92061        Pauma Valley  (-116.9596, 33.3063)          4  2020-06-30
48   92064               Poway  (-117.0402, 32.9756)         85  2020-06-30
49   92065              Ramona  (-116.8535, 33.0293)         76  2020-06-30
50   92066            Ranchita    (-116.5167, 33.21)          2  2020-06-30
51   92067     Rancho Santa Fe   (-117.2157, 33.005)         21  2020-06-30
52   92069          San Marcos  (-117.1697, 33.1444)        154  2020-06-30
53   92070        Santa Ysabel  (-116.6963, 33.1476)          1  2020-06-30
54   92071              Santee  (-116.9862, 32.8486)        125  2020-06-30
55   92075        Solana Beach  (-117.2598, 32.9937)         20  2020-06-30
56   92078          San Marcos   (-117.185, 33.1193)        108  2020-06-30
57   92081               Vista  (-117.2403, 33.1644)         59  2020-06-30
58   92082       Valley Center   (-117.0122, 33.249)         36  2020-06-30
59   92083               Vista  (-117.2482, 33.1978)        164  2020-06-30
60   92084               Vista  (-117.2243, 33.2131)        139  2020-06-30
61   92086      Warner Springs  (-116.6527, 33.3096)          1  2020-06-30
62   92091     Rancho Santa Fe  (-117.0462, 32.9623)          3  2020-06-30
63   92093            La Jolla  (-117.2742, 32.8473)          4  2020-06-30
64   92101           San Diego  (-117.1593, 32.7185)        212  2020-06-30
65   92102           San Diego  (-117.1219, 32.7139)        354  2020-06-30
66   92103           San Diego  (-117.1636, 32.7466)        178  2020-06-30
67   92104           San Diego  (-117.1272, 32.7454)        206  2020-06-30
68   92105           San Diego  (-117.0947, 32.7423)        498  2020-06-30
69   92106           San Diego  (-117.2268, 32.7272)         41  2020-06-30
70   92107           San Diego  (-117.2433, 32.7425)         50  2020-06-30
71   92108           San Diego  (-117.1335, 32.7783)        107  2020-06-30
72   92109           San Diego  (-117.2405, 32.7969)        197  2020-06-30
73   92110           San Diego  (-117.2028, 32.7635)         84  2020-06-30
74   92111           San Diego  (-117.1708, 32.7972)        142  2020-06-30
75   92113           San Diego   (-117.1153, 32.697)        633  2020-06-30
76   92114           San Diego  (-117.0524, 32.7059)        473  2020-06-30
77   92115           San Diego  (-117.0721, 32.7607)        314  2020-06-30
78   92116           San Diego  (-117.1242, 32.7624)         98  2020-06-30
79   92117           San Diego  (-117.1965, 32.8239)        135  2020-06-30
80   92118            Coronado  (-117.1698, 32.6807)         33  2020-06-30
81   92119           San Diego  (-117.0261, 32.8036)         57  2020-06-30
82   92120           San Diego  (-117.0707, 32.7958)         65  2020-06-30
83   92121           San Diego  (-117.2035, 32.8919)          8  2020-06-30
84   92122           San Diego  (-117.2115, 32.8577)         62  2020-06-30
85   92123           San Diego  (-117.1392, 32.7973)         87  2020-06-30
86   92124           San Diego  (-117.0986, 32.8201)         55  2020-06-30
87   92126           San Diego  (-117.1402, 32.9161)        176  2020-06-30
88   92127           San Diego  (-117.0856, 33.0279)         89  2020-06-30
89   92128           San Diego   (-117.069, 33.0067)         87  2020-06-30
90   92129           San Diego  (-117.1213, 32.9652)        103  2020-06-30
91   92130           San Diego  (-117.2252, 32.9555)         97  2020-06-30
92   92131           San Diego  (-117.0898, 32.9123)         56  2020-06-30
93   92134           San Diego  (-117.1466, 32.7242)          5  2020-06-30
94   92135           San Diego  (-117.1573, 32.7153)         15  2020-06-30
95   92136           San Diego  (-117.1219, 32.6834)         26  2020-06-30
96   92139           San Diego  (-117.0474, 32.6806)        276  2020-06-30
97   92140           San Diego  (-117.2004, 32.7434)         49  2020-06-30
98   92145           San Diego  (-117.1005, 32.8891)          3  2020-06-30
99   92154           San Diego  (-117.0707, 32.5753)       1002  2020-06-30
100  92161           San Diego  (-117.2291, 32.8718)          0  2020-06-30
101  92173          San Ysidro   (-117.043, 32.5626)        548  2020-06-30

### COVID 19 Cases Time Series for Carlsbad, California
Cases are aggregated from the zip-level data (note, some zip code areas may cross city boundaries)

In [10]:
query = """
MATCH (c:Cases{source: 'SDHHSA'})-[:REPORTED_IN]->(p:PostalCode{placeName:'Carlsbad'})-[:IN*]->(a:Admin1{name: 'California'})
RETURN c.date as date, sum(c.cummulativeConfirmed) as confirmed
ORDER by date DESC
"""
graph.run(query).to_data_frame()

          date  confirmed
0   2020-06-30        182
1   2020-06-29        167
2   2020-06-28        160
3   2020-06-27        155
4   2020-06-26        149
5   2020-06-25        139
6   2020-06-24        136
7   2020-06-23        127
8   2020-06-22        122
9   2020-06-21        115
10  2020-06-20        111
11  2020-06-19        104
12  2020-06-18        103
13  2020-06-17         98
14  2020-06-16         96
15  2020-06-15         93
16  2020-06-14         92
17  2020-06-13         90
18  2020-06-12         89
19  2020-06-11         88
20  2020-06-10         86
21  2020-06-09         85
22  2020-06-08         86
23  2020-06-07         85
24  2020-06-06         84
25  2020-06-05         84
26  2020-06-04         82
27  2020-06-03         80
28  2020-06-02         77
29  2020-06-01         77
30  2020-05-31         77
31  2020-05-30         76
32  2020-05-29         76
33  2020-05-28         76
34  2020-05-27         75
35  2020-05-26         75
36  2020-05-25         73
37  2020-05-24         73
38  2020-05-23         73
39  2020-05-22         73
40  2020-05-21         73
41  2020-05-20         72
42  2020-05-19         71
43  2020-05-18         71
44  2020-05-17         71
45  2020-05-16         71
46  2020-05-15         70
47  2020-05-14         69
48  2020-05-13         69
49  2020-05-12         66
50  2020-05-11         63
51  2020-05-10         63
52  2020-05-09         61
53  2020-05-08         58
54  2020-05-07         58
55  2020-05-06         58
56  2020-05-05         57
57  2020-05-04         57
58  2020-05-03         56
59  2020-05-02         56
60  2020-05-01         56
61  2020-04-30         56
62  2020-04-29         54
63  2020-04-28         52
64  2020-04-27         51
65  2020-04-26         50
66  2020-04-25         50
67  2020-04-24         50
68  2020-04-23         50
69  2020-04-22         50
70  2020-04-21         50
71  2020-04-20         50
72  2020-04-19         50
73  2020-04-18         50
74  2020-04-17         50
75  2020-04-16         50
76  2020-04-15         50
77  2020-04-14         50
78  2020-04-13         49
79  2020-04-12         48
80  2020-04-11         48
81  2020-04-10         48
82  2020-04-09         48
83  2020-04-08         43
84  2020-04-07         43
85  2020-04-06         42
86  2020-04-05         42
87  2020-04-04         42
88  2020-04-03         41
89  2020-04-02         39
90  2020-04-01         37
91  2020-03-31         32
92  2020-03-30         31

### COVID-19 cases aggregated by US Regions
Here we aggregate US county-level data over 2 hops:

`Admin2 -> USDivision -> USRegion`

using the variable-length relationship [:IN*].

In [11]:
query = """
MATCH (c:Cases{date: date($day), source: 'JHU'})-[:REPORTED_IN]->(:Admin2)-[:IN*]->(u:USRegion)
RETURN sum(c.cummulativeConfirmed) AS count, u.name AS USRegion
ORDER by count DESC
"""
graph.run(query, day=yesterday).to_data_frame()

    count          USRegion
0  835921  Northeast Region
1  815518      South Region
2  448123    Midwest Region
3  438263       West Region

### COVID-19 cases aggregated by UN Region
Here we aggregate country-level data over up to 3 hops:

`country -> UNSubRegion -> UNIntermediateRegion -> UNRegion`

using the variable-length relationship `[:IN*`].

In [12]:
query = """
MATCH (c:Cases{date: date($day), source: 'JHU'})-[:REPORTED_IN]->(:Country)-[:IN*]->(u:UNRegion)
RETURN sum(c.cummulativeConfirmed) AS count, u.name AS UNRegion
ORDER by count DESC
"""
df = graph.run(query, day=yesterday).to_data_frame()
df

     count  UNRegion
0  5217921  Americas
1  2427296    Europe
2  2222484      Asia
3   407399    Africa
4     1640   Oceania

In [13]:
print("Total number of confirmed cases:", df['count'].sum())

Total number of confirmed cases: 10276740