# Example queries for Case Counts on COVID-19 Knowledge Graph
[Work in progress]

This notebook demonstrates how to run Cypher queries to retrieve and aggregate COVID-19 case data.

COVID-19 case numbers are provided by:

Country and US County level data: [JHU](https://github.com/covid-19-net/covid-19-community/blob/master/reference_data/DataProvider.csv#L6)

San Diego data by zip code: [SDHHSA](https://github.com/covid-19-net/covid-19-community/blob/master/reference_data/DataProvider.csv#L7)

In [1]:
import datetime
import pandas as pd
from py2neo import Graph

In [2]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

#### Connect to COVID-19-Net Knowledge Graph

In [3]:
graph = Graph("bolt://132.249.238.185:7687", user="reader", password="demo")

In [4]:
# currently defining "yesterday" as two days from current date, 
# since there are time periods during the day, where data from the 
# previous day are not yet available in UTC date.
today = datetime.datetime.utcnow().date()
yesterday = today - datetime.timedelta(days=2)

## COVID Case Data

### Case counts by Country

In [5]:
query = """
MATCH (c:Cases{date: date($day), source: 'JHU'})-[:REPORTED_IN]->(n:Country)
RETURN n.name, c.cummulativeConfirmed, c.cummulativeDeaths, c.date as dateUTC
ORDER by n.name
"""
graph.run(query, day=yesterday).to_data_frame()

,n.name,c.cummulativeConfirmed,c.cummulativeDeaths,dateUTC
0,Afghanistan,29157,598,2020-06-22
1,Albania,1995,44,2020-06-22
2,Algeria,11920,852,2020-06-22
3,Andorra,855,52,2020-06-22
4,Angola,186,10,2020-06-22
5,Anguilla,3,0,2020-06-22
6,Antigua and Barbuda,26,3,2020-06-22
7,Argentina,44931,1043,2020-06-22
8,Armenia,20588,360,2020-06-22
9,Aruba,101,3,2020-06-22
10,Austria,17380,690,2020-06-22
11,Azerbaijan,13207,161,2020-06-22
12,Bahamas,104,11,2020-06-22
13,Bahrain,22407,65,2020-06-22
14,Bangladesh,115786,1502,2020-06-22
15,Barbados,97,7,2020-06-22
16,Belarus,59023,351,2020-06-22
17,Belgium,60550,9696,2020-06-22
18,Belize,23,2,2020-06-22
19,Benin,807,13,2020-06-22
20,Bermuda,146,9,2020-06-22
21,Bhutan,68,0,2020-06-22
22,Bolivia,25493,820,2020-06-22
23,Bosnia and Herzegovina,3525,171,2020-06-22
24,Botswana,89,1,2020-06-22
25,Brazil,1106470,51271,2020-06-22
26,British Virgin Islands,8,1,2020-06-22
27,Brunei,141,3,2020-06-22
28,Bulgaria,3984,207,2020-06-22
29,Burkina Faso,903,53,2020-06-22
30,Burundi,144,1,2020-06-22
31,Cabo Verde,944,8,2020-06-22
32,Cambodia,130,0,2020-06-22
33,Cameroon,12041,308,2020-06-22
34,Cayman Islands,195,1,2020-06-22
35,Central African Republic,2963,30,2020-06-22
36,Chad,858,74,2020-06-22
37,Chile,246963,4502,2020-06-22
38,Colombia,71367,2426,2020-06-22
39,Comoros,247,5,2020-06-22
40,Costa Rica,2277,12,2020-06-22
41,Croatia,2336,107,2020-06-22
42,Cuba,2315,85,2020-06-22
43,Curacao,23,1,2020-06-22
44,Cyprus,988,19,2020-06-22
45,Czechia,10523,336,2020-06-22
46,Democratic Republic of the Congo,5924,135,2020-06-22
47,Denmark,12527,602,2020-06-22
48,Djibouti,4599,48,2020-06-22
49,Dominica,18,0,2020-06-22
50,Dominican Republic,27370,669,2020-06-22
51,Ecuador,50640,4223,2020-06-22
52,Egypt,56809,2278,2020-06-22
53,El Salvador,4808,107,2020-06-22
54,Equatorial Guinea,1664,32,2020-06-22
55,Eritrea,143,0,2020-06-22
56,Estonia,1981,69,2020-06-22
57,Eswatini,643,6,2020-06-22
58,Ethiopia,4663,75,2020-06-22
59,Falkland Islands,13,0,2020-06-22
60,Faroe Islands,187,0,2020-06-22
61,Fiji,18,0,2020-06-22
62,Finland,7144,327,2020-06-22
63,France,191442,29595,2020-06-22
64,French Guiana,2458,8,2020-06-22
65,French Polynesia,60,0,2020-06-22
66,Gabon,4739,39,2020-06-22
67,Gambia,41,2,2020-06-22
68,Georgia,908,14,2020-06-22
69,Germany,191768,8899,2020-06-22
70,Ghana,14154,85,2020-06-22
71,Gibraltar,176,0,2020-06-22
72,Greece,3287,190,2020-06-22
73,Greenland,13,0,2020-06-22
74,Grenada,23,0,2020-06-22
75,Guatemala,13769,547,2020-06-22
76,Guernsey,570,47,2020-06-22
77,Guinea,4988,27,2020-06-22
78,Guinea-Bissau,1556,19,2020-06-22
79,Guyana,205,12,2020-06-22
80,Haiti,5211,88,2020-06-22
81,Honduras,13356,395,2020-06-22
82,Hong Kong,1161,5,2020-06-22
83,Hungary,4102,572,2020-06-22
84,Iceland,1823,10,2020-06-22
85,India,440215,14011,2020-06-22
86,Indonesia,46845,2500,2020-06-22
87,Iran,207525,9742,2020-06-22
88,Iraq,32676,1167,2020-06-22
89,Ireland,25383,1717,2020-06-22
90,Isle of Man,336,24,2020-06-22
91,Israel,21082,307,2020-06-22
92,Italy,238720,34657,2020-06-22
93,Ivory Coast,7677,56,2020-06-22
94,Jamaica,665,10,2020-06-22
95,Japan,17820,955,2020-06-22
96,Jordan,1042,9,2020-06-22
97,Kazakhstan,18231,127,2020-06-22
98,Kenya,4797,125,2020-06-22
99,Kosovo,2169,37,2020-06-22
100,Kuwait,40291,330,2020-06-22
101,Kyrgyzstan,3356,40,2020-06-22
102,Laos,19,0,2020-06-22
103,Latvia,1111,30,2020-06-22
104,Lebanon,1603,32,2020-06-22
105,Lesotho,12,0,2020-06-22
106,Liberia,650,34,2020-06-22
107,Libya,595,10,2020-06-22
108,Liechtenstein,83,1,2020-06-22
109,Lithuania,1801,76,2020-06-22
110,Luxembourg,4121,110,2020-06-22
111,Macao,45,0,2020-06-22
112,Madagascar,1640,15,2020-06-22
113,Malawi,749,11,2020-06-22
114,Malaysia,8587,121,2020-06-22
115,Maldives,2217,8,2020-06-22
116,Mali,1961,111,2020-06-22
117,Malta,665,9,2020-06-22
118,Mauritania,3121,112,2020-06-22
119,Mauritius,340,10,2020-06-22
120,Mayotte,2434,31,2020-06-22
121,Mexico,185122,22584,2020-06-22
122,Moldova,14363,480,2020-06-22
123,Monaco,101,4,2020-06-22
124,Mongolia,215,0,2020-06-22
125,Montenegro,367,9,2020-06-22
126,Montserrat,11,1,2020-06-22
127,Morocco,10172,214,2020-06-22
128,Mozambique,737,5,2020-06-22
129,Myanmar,291,6,2020-06-22
130,Namibia,63,0,2020-06-22
131,Nepal,9561,23,2020-06-22
132,Netherlands,49658,6090,2020-06-22
133,New Caledonia,21,0,2020-06-22
134,New Zealand,1515,22,2020-06-22
135,Nicaragua,1823,64,2020-06-22
136,Niger,1046,67,2020-06-22
137,Nigeria,20919,525,2020-06-22
138,North Macedonia,5196,247,2020-06-22
139,Norway,8751,248,2020-06-22
140,Oman,31076,137,2020-06-22
141,Pakistan,185034,3695,2020-06-22
142,Palestinian Territory,1001,3,2020-06-22
143,Panama,26752,521,2020-06-22
144,Papua New Guinea,9,0,2020-06-22
145,Paraguay,1392,13,2020-06-22
146,Peru,257447,8223,2020-06-22
147,Philippines,30682,1177,2020-06-22
148,Poland,32227,1359,2020-06-22
149,Portugal,39392,1534,2020-06-22
150,Qatar,88403,99,2020-06-22
151,Republic of the Congo,1087,37,2020-06-22
152,Romania,24291,1523,2020-06-22
153,Russia,591465,8196,2020-06-22
154,Rwanda,787,2,2020-06-22
155,Saint Barthelemy,6,0,2020-06-22
156,Saint Kitts and Nevis,15,0,2020-06-22
157,Saint Lucia,19,0,2020-06-22
158,Saint Pierre and Miquelon,1,0,2020-06-22
159,Saint Vincent and the Grenadines,29,0,2020-06-22
160,San Marino,697,42,2020-06-22
161,Sao Tome and Principe,702,12,2020-06-22
162,Saudi Arabia,161005,1307,2020-06-22
163,Senegal,5970,86,2020-06-22
164,Serbia,12990,262,2020-06-22
165,Seychelles,11,0,2020-06-22
166,Sierra Leone,1340,55,2020-06-22
167,Singapore,42313,26,2020-06-22
168,Sint Maarten,77,15,2020-06-22
169,Slovakia,1588,28,2020-06-22
170,Slovenia,1521,109,2020-06-22
171,Somalia,2812,90,2020-06-22
172,South Africa,101590,1991,2020-06-22
173,South Korea,12484,281,2020-06-22
174,South Sudan,1916,35,2020-06-22
175,Spain,246504,28324,2020-06-22
176,Sri Lanka,1951,11,2020-06-22
177,Sudan,8698,533,2020-06-22
178,Suriname,319,8,2020-06-22
179,Sweden,58932,5122,2020-06-22
180,Switzerland,31310,1956,2020-06-22
181,Syria,219,7,2020-06-22
182,Taiwan,446,7,2020-06-22
183,Tajikistan,5513,52,2020-06-22
184,Tanzania,509,21,2020-06-22
185,Thailand,3151,58,2020-06-22
186,Timor Leste,24,0,2020-06-22
187,Togo,569,13,2020-06-22
188,Trinidad and Tobago,123,8,2020-06-22
189,Tunisia,1159,50,2020-06-22
190,Turkey,188897,4974,2020-06-22
191,Turks and Caicos Islands,14,1,2020-06-22
192,Uganda,774,0,2020-06-22
193,Ukraine,38056,1022,2020-06-22
194,United Arab Emirates,45303,303,2020-06-22
195,United Kingdom,305289,42647,2020-06-22
196,United States,2312302,120402,2020-06-22
197,Uruguay,882,25,2020-06-22
198,Uzbekistan,6461,19,2020-06-22
199,Vatican,12,0,2020-06-22
200,Venezuela,4048,35,2020-06-22
201,Vietnam,349,0,2020-06-22
202,Western Sahara,10,1,2020-06-22
203,Yemen,967,257,2020-06-22
204,Zambia,1430,11,2020-06-22
205,Zimbabwe,512,6,2020-06-22

### Case counts by US States aggregated from US Counties
Note, some counties in the Johns Hopkins dataset cannot be mapped to US counties. They are listed in as "None"

In [6]:
query = """
MATCH (c:Cases{date: $date, source: 'JHU'})-[:REPORTED_IN]->(a:Admin2)-[:IN]->(a1:Admin1)
RETURN a1.name as state, a1.code, a1.location, sum(c.cummulativeDeaths) as deaths, sum(c.cummulativeConfirmed) as confirmed, c.date as dateUTC
ORDER BY a1.code
"""
graph.run(query, date=yesterday).to_data_frame()

,state,a1.code,a1.location,deaths,confirmed,dateUTC
0,Alaska,AK,"(-150.00028, 64.00028)",12,755,2020-06-22
1,Alabama,AL,"(-86.75026, 32.75041)",829,29827,2020-06-22
2,Arkansas,AR,"(-92.50044, 34.75037)",224,14707,2020-06-22
3,Arizona,AZ,"(-111.50098, 34.5003)",1350,54599,2020-06-22
4,California,CA,"(-119.75126, 37.25022)",5518,181580,2020-06-22
5,Colorado,CO,"(-105.50083, 39.00027)",1651,30689,2020-06-22
6,Connecticut,CT,"(-72.66648, 41.66704)",4263,45512,2020-06-22
7,Delaware,DE,"(-75.49992, 39.00039)",435,10803,2020-06-22
8,Florida,FL,"(-82.5001, 28.75054)",3125,98376,2020-06-22
9,Georgia,GA,"(-83.50018, 32.75042)",2606,60913,2020-06-22
10,Hawaii,HI,"(-156.38612, 20.78785)",17,804,2020-06-22
11,Iowa,IA,"(-93.50049, 42.00027)",686,26138,2020-06-22
12,Idaho,ID,"(-114.25118, 44.5002)",89,4254,2020-06-22
13,Illinois,IL,"(-89.25037, 40.00032)",6545,135557,2020-06-22
14,Indiana,IN,"(-86.25027, 40.00032)",2306,40956,2020-06-22
15,Kansas,KS,"(-98.50063, 38.50029)",257,12428,2020-06-22
16,Kentucky,KY,"(-84.87762, 38.20042)",526,13818,2020-06-22
17,Louisiana,LA,"(-92.0004, 31.00047)",2531,44061,2020-06-22
18,Massachusetts,MA,"(-71.10832, 42.36565)",7863,106851,2020-06-22
19,Maryland,MD,"(-76.74997, 39.00039)",2690,56909,2020-06-22
20,Maine,ME,"(-69.24977, 45.50032)",102,2969,2020-06-22
21,Michigan,MI,"(-85.50033, 44.25029)",5973,62888,2020-06-22
22,Minnesota,MN,"(-94.25055, 46.25024)",1371,33004,2020-06-22
23,Missouri,MO,"(-92.50046, 38.25031)",162,7407,2020-06-22
24,Mississippi,MS,"(-89.75036, 32.75041)",964,21417,2020-06-22
25,Montana,MT,"(-109.75102, 47.00025)",21,734,2020-06-22
26,North Carolina,NC,"(-80.00032, 35.50069)",1278,53964,2020-06-22
27,North Dakota,ND,"(-100.00068, 47.50027)",77,3313,2020-06-22
28,Nebraska,NE,"(-99.75067, 41.50028)",248,17776,2020-06-22
29,New Hampshire,NH,"(-71.4998, 43.66702)",339,5555,2020-06-22
30,New Jersey,NJ,"(-74.49987, 40.16706)",12974,169362,2020-06-22
31,New Mexico,NM,"(-106.00085, 34.50034)",463,9097,2020-06-22
32,Nevada,NV,"(-116.75119, 39.25021)",489,13528,2020-06-22
33,New York,NY,"(-75.4999, 43.00035)",31176,388488,2020-06-22
34,Ohio,OH,"(-83.00018, 40.25034)",2704,45537,2020-06-22
35,Oklahoma,OK,"(-97.50328, 35.49209)",369,10734,2020-06-22
36,Oregon,OR,"(-120.50139, 44.00013)",192,7083,2020-06-22
37,Pennsylvania,PA,"(-77.7, 40.8)",6426,86576,2020-06-22
38,Rhode Island,RI,"(-71.49978, 41.75038)",0,14945,2020-06-22
39,South Carolina,SC,"(-81.00009, 34.00043)",659,25666,2020-06-22
40,South Dakota,SD,"(-100.25069, 44.50026)",81,6326,2020-06-22
41,Tennessee,TN,"(-86.25027, 35.75035)",523,34696,2020-06-22
42,Texas,TX,"(-99.25061, 31.25044)",2207,117790,2020-06-22
43,Utah,UT,"(-111.75103, 39.25024)",137,14630,2020-06-22
44,Virginia,VA,"(-77.44675, 37.54812)",1303,44974,2020-06-22
45,Vermont,VT,"(-72.74983, 44.00034)",56,1158,2020-06-22
46,Washington,WA,"(-120.50147, 47.50012)",1276,28834,2020-06-22
47,Wisconsin,WI,"(-90.00041, 44.50024)",744,24937,2020-06-22
48,West Virginia,WV,"(-80.50009, 38.50038)",89,2551,2020-06-22
49,Wyoming,WY,"(-107.5009, 43.00024)",1,1230,2020-06-22
50,None,None,None,2834,58521,2020-06-22

### Current cases in San Diego County

In [7]:
admin2 = 'San Diego County'

query = """
MATCH (c:Cases{date: date($day), source: 'JHU'})-[:REPORTED_IN]->(a:Admin2{name: $admin2})
RETURN a.name as name, c.cummulativeConfirmed as confirmed, c.cummulativeDeaths as deaths, c.date as date
"""
graph.run(query, admin2=admin2, day=yesterday).to_data_frame()

               name  confirmed  deaths        date
0  San Diego County      11096     338  2020-06-22

### COVID-19 Cases Time Series in San Diego County

In [8]:
query = """
MATCH (c:Cases{source: 'JHU'})-[:REPORTED_IN]->(a:Admin2{name: $admin2})
RETURN a.name as name, c.cummulativeConfirmed as confirmed, c.cummulativeDeaths as deaths, c.date as dateUTC
ORDER BY c.date DESC
"""
graph.run(query, admin2=admin2).to_data_frame()

                 name  confirmed  deaths     dateUTC
0    San Diego County      11096     338  2020-06-22
1    San Diego County      10794     338  2020-06-21
2    San Diego County      10484     338  2020-06-20
3    San Diego County      10350     332  2020-06-19
4    San Diego County      10092     331  2020-06-18
5    San Diego County       9730     323  2020-06-17
6    San Diego County       9730     323  2020-06-16
7    San Diego County       9610     320  2020-06-15
8    San Diego County       9440     319  2020-06-14
9    San Diego County       9314     319  2020-06-13
10   San Diego County       8998     308  2020-06-12
11   San Diego County       8998     308  2020-06-11
12   San Diego County       8837     305  2020-06-10
13   San Diego County       8619     296  2020-06-09
14   San Diego County       8619     296  2020-06-08
15   San Diego County       8345     296  2020-06-07
16   San Diego County       8345     296  2020-06-06
17   San Diego County       7940     288  2020-06-05
18   San Diego County       7798     283  2020-06-04
19   San Diego County       7674     276  2020-06-03
20   San Diego County       7554     269  2020-06-02
21   San Diego County       7481     269  2020-06-01
22   San Diego County       7481     269  2020-05-31
23   San Diego County       7385     269  2020-05-30
24   San Diego County       7100     260  2020-05-29
25   San Diego County       7100     260  2020-05-28
26   San Diego County       6882     249  2020-05-27
27   San Diego County       6797     249  2020-05-26
28   San Diego County       6701     249  2020-05-25
29   San Diego County       6559     249  2020-05-24
30   San Diego County       6559     249  2020-05-23
31   San Diego County       6315     241  2020-05-22
32   San Diego County       6140     230  2020-05-21
33   San Diego County       6140     230  2020-05-20
34   San Diego County       6026     222  2020-05-19
35   San Diego County       5836     209  2020-05-18
36   San Diego County       5836     209  2020-05-17
37   San Diego County       5662     209  2020-05-16
38   San Diego County       5391     200  2020-05-15
39   San Diego County       5391     200  2020-05-14
40   San Diego County       5161     190  2020-05-13
41   San Diego County       5161     190  2020-05-12
42   San Diego County       5065     175  2020-05-11
43   San Diego County       4776     175  2020-05-10
44   San Diego County       4662     169  2020-05-09
45   San Diego County       4429     165  2020-05-08
46   San Diego County       4319     158  2020-05-07
47   San Diego County       4319     158  2020-05-06
48   San Diego County       4020     144  2020-05-05
49   San Diego County       3927     139  2020-05-04
50   San Diego County       3927     139  2020-05-03
51   San Diego County       3711     134  2020-05-02
52   San Diego County       3564     124  2020-05-01
53   San Diego County       3432     120  2020-04-30
54   San Diego County       3432     120  2020-04-29
55   San Diego County       3141     113  2020-04-28
56   San Diego County       3043     111  2020-04-27
57   San Diego County       2943     111  2020-04-26
58   San Diego County       2943     111  2020-04-25
59   San Diego County       2826     102  2020-04-24
60   San Diego County       2643     100  2020-04-23
61   San Diego County       2491      96  2020-04-22
62   San Diego County       2325      72  2020-04-21
63   San Diego County       2268      71  2020-04-20
64   San Diego County       2213      71  2020-04-19
65   San Diego County       2158      70  2020-04-18
66   San Diego County       2087      63  2020-04-17
67   San Diego County       2012      60  2020-04-16
68   San Diego County       1930      53  2020-04-15
69   San Diego County       1847      47  2020-04-14
70   San Diego County       1804      45  2020-04-13
71   San Diego County       1761      45  2020-04-12
72   San Diego County       1693      44  2020-04-11
73   San Diego County       1628      40  2020-04-10
74   San Diego County       1530      36  2020-04-09
75   San Diego County       1454      31  2020-04-08
76   San Diego County       1404      19  2020-04-07
77   San Diego County       1326      19  2020-04-06
78   San Diego County       1209      18  2020-04-05
79   San Diego County       1112      17  2020-04-04
80   San Diego County        966      16  2020-04-03
81   San Diego County        849      15  2020-04-02
82   San Diego County        733       9  2020-04-01
83   San Diego County        603       7  2020-03-31
84   San Diego County        515       7  2020-03-30
85   San Diego County        484       7  2020-03-29
86   San Diego County        413       6  2020-03-28
87   San Diego County        341       3  2020-03-27
88   San Diego County        293       3  2020-03-26
89   San Diego County        238       2  2020-03-25
90   San Diego County        226       1  2020-03-24
91   San Diego County        201       1  2020-03-23
92   San Diego County        155       0  2020-03-22
93   San Diego County        127       0  2020-03-21
94   San Diego County        127       0  2020-03-20
95   San Diego County         80       0  2020-03-19
96   San Diego County         60       0  2020-03-18
97   San Diego County         55       0  2020-03-17
98   San Diego County         55       0  2020-03-16
99   San Diego County         16       0  2020-03-15
100  San Diego County         10       0  2020-03-14
101  San Diego County          8       0  2020-03-13
102  San Diego County          5       0  2020-03-12
103  San Diego County          3       0  2020-03-11
104  San Diego County          3       0  2020-03-10
105  San Diego County          3       0  2020-03-09
106  San Diego County          3       0  2020-03-08
107  San Diego County          3       0  2020-03-07
108  San Diego County          3       0  2020-03-06
109  San Diego County          3       0  2020-03-05
110  San Diego County          2       0  2020-03-04
111  San Diego County          2       0  2020-03-03
112  San Diego County          2       0  2020-03-02
113  San Diego County          2       0  2020-03-01
114  San Diego County          2       0  2020-02-29
115  San Diego County          2       0  2020-02-28
116  San Diego County          2       0  2020-02-27
117  San Diego County          2       0  2020-02-26
118  San Diego County          2       0  2020-02-25
119  San Diego County          2       0  2020-02-24
120  San Diego County          2       0  2020-02-23
121  San Diego County          2       0  2020-02-22
122  San Diego County          2       0  2020-02-21
123  San Diego County          2       0  2020-02-20
124  San Diego County          2       0  2020-02-19
125  San Diego County          2       0  2020-02-18
126  San Diego County          2       0  2020-02-17
127  San Diego County          2       0  2020-02-16
128  San Diego County          2       0  2020-02-15
129  San Diego County          2       0  2020-02-14
130  San Diego County          2       0  2020-02-13
131  San Diego County          1       0  2020-02-12
132  San Diego County          1       0  2020-02-11

### Current COVID-19 Cases in San Diego Country by Zip code

In [9]:
query = """
MATCH (c:Cases{date: date($day), source: 'SDHHSA'})-[:REPORTED_IN]->(p:PostalCode)
RETURN p.name as zip, p.placeName, p.location, c.cummulativeConfirmed as confirmed, c.date as date
ORDER by zip
"""
graph.run(query, day=yesterday).to_data_frame()

Empty DataFrame
Columns: []
Index: []

### COVID 19 Cases Time Series for Carlsbad, California
Cases are aggregated from the zip-level data (note, some zip code areas may cross city boundaries)

In [10]:
query = """
MATCH (c:Cases{source: 'SDHHSA'})-[:REPORTED_IN]->(p:PostalCode{placeName:'Carlsbad'})-[:IN*]->(a:Admin1{name: 'California'})
RETURN c.date as date, sum(c.cummulativeConfirmed) as confirmed
ORDER by date
"""
graph.run(query).to_data_frame()

          date  confirmed
0   2020-03-30         31
1   2020-03-31         32
2   2020-04-01         37
3   2020-04-02         39
4   2020-04-03         41
5   2020-04-04         42
6   2020-04-05         42
7   2020-04-06         42
8   2020-04-07         43
9   2020-04-08         43
10  2020-04-09         48
11  2020-04-10         48
12  2020-04-11         48
13  2020-04-12         48
14  2020-04-13         49
15  2020-04-14         50
16  2020-04-15         50
17  2020-04-16         50
18  2020-04-17         50
19  2020-04-18         50
20  2020-04-19         50
21  2020-04-20         50
22  2020-04-21         50
23  2020-04-22         50
24  2020-04-23         50
25  2020-04-24         50
26  2020-04-25         50
27  2020-04-26         50
28  2020-04-27         51
29  2020-04-28         52
30  2020-04-29         54
31  2020-04-30         56
32  2020-05-01         56
33  2020-05-02         56
34  2020-05-03         56
35  2020-05-04         57
36  2020-05-05         57
37  2020-05-06         58
38  2020-05-07         58
39  2020-05-08         58
40  2020-05-09         61
41  2020-05-10         63
42  2020-05-11         63
43  2020-05-12         66
44  2020-05-13         69
45  2020-05-14         69
46  2020-05-15         70
47  2020-05-16         71
48  2020-05-17         71
49  2020-05-18         71
50  2020-05-19         71
51  2020-05-20         72
52  2020-05-21         73
53  2020-05-22         73
54  2020-05-23         73
55  2020-05-24         73
56  2020-05-25         73
57  2020-05-26         75
58  2020-05-27         75
59  2020-05-28         76
60  2020-05-29         76
61  2020-05-30         76
62  2020-05-31         77
63  2020-06-01         77
64  2020-06-02         77
65  2020-06-03         80
66  2020-06-04         82
67  2020-06-05         84
68  2020-06-06         84
69  2020-06-07         85
70  2020-06-08         86
71  2020-06-09         85
72  2020-06-10         86
73  2020-06-11         88
74  2020-06-12         89
75  2020-06-13         90
76  2020-06-14         92
77  2020-06-15         93
78  2020-06-16         96
79  2020-06-17         98
80  2020-06-18        103
81  2020-06-19        104
82  2020-06-20        111
83  2020-06-21        115