# Example queries for Case Counts on COVID-19 Knowledge Graph
[Work in progress]

This notebook demonstrates how to run Cypher queries in a Jupyter Notebook by connecting to a database server.

In [1]:
import datetime
import pandas as pd
from py2neo import Graph

In [2]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

In [3]:
graph = Graph("bolt://132.249.238.185:7687", user="reader", password="demo")

In [4]:
# currently defining "yesterday" as two days from current date, 
# since there are time periods during the day, where data from the 
# previous day are not yet available in UTC date.
today = datetime.datetime.utcnow().date()
yesterday = today - datetime.timedelta(days=2)

## COVID Case Data

### Case counts by Country

In [5]:
query = """
MATCH (c:Cases{date: date($day), source: 'JHU'})-[:REPORTED_IN]->(n:Country)
RETURN n.name, c.cummulativeConfirmed, c.cummulativeDeaths, c.date as dateUTC
ORDER by n.name
"""
graph.run(query, day=yesterday).to_data_frame()

,n.name,c.cummulativeConfirmed,c.cummulativeDeaths,dateUTC
0,Afghanistan,27532,546,2020-06-18
1,Albania,1788,39,2020-06-18
2,Algeria,11385,811,2020-06-18
3,Andorra,855,52,2020-06-18
4,Angola,166,8,2020-06-18
5,Anguilla,3,0,2020-06-18
6,Antigua and Barbuda,26,3,2020-06-18
7,Argentina,37510,948,2020-06-18
8,Armenia,18698,309,2020-06-18
9,Aruba,101,3,2020-06-18
10,Austria,17223,688,2020-06-18
11,Azerbaijan,11329,139,2020-06-18
12,Bahamas,104,11,2020-06-18
13,Bahrain,20430,55,2020-06-18
14,Bangladesh,102292,1343,2020-06-18
15,Barbados,97,7,2020-06-18
16,Belarus,56657,331,2020-06-18
17,Belgium,60348,9683,2020-06-18
18,Belize,22,2,2020-06-18
19,Benin,597,11,2020-06-18
20,Bermuda,144,9,2020-06-18
21,Bhutan,67,0,2020-06-18
22,Bolivia,21499,697,2020-06-18
23,Bosnia and Herzegovina,3174,168,2020-06-18
24,Botswana,79,1,2020-06-18
25,Brazil,978142,47748,2020-06-18
26,British Virgin Islands,8,1,2020-06-18
27,Brunei,141,3,2020-06-18
28,Bulgaria,3674,190,2020-06-18
29,Burkina Faso,899,53,2020-06-18
30,Burundi,104,1,2020-06-18
31,Cabo Verde,823,7,2020-06-18
32,Cambodia,129,0,2020-06-18
33,Cameroon,9864,276,2020-06-18
34,Cayman Islands,193,1,2020-06-18
35,Central African Republic,2605,19,2020-06-18
36,Chad,854,74,2020-06-18
37,Chile,225103,3841,2020-06-18
38,Colombia,57202,1955,2020-06-18
39,Comoros,210,5,2020-06-18
40,Costa Rica,1939,12,2020-06-18
41,Croatia,2269,107,2020-06-18
42,Cuba,2295,85,2020-06-18
43,Curacao,23,1,2020-06-18
44,Cyprus,985,19,2020-06-18
45,Czechia,10280,334,2020-06-18
46,Democratic Republic of the Congo,5283,117,2020-06-18
47,Denmark,12344,600,2020-06-18
48,Djibouti,4557,43,2020-06-18
49,Dominica,18,0,2020-06-18
50,Dominican Republic,24645,635,2020-06-18
51,Ecuador,49097,4087,2020-06-18
52,Egypt,50437,1938,2020-06-18
53,El Salvador,4200,82,2020-06-18
54,Equatorial Guinea,1664,32,2020-06-18
55,Eritrea,142,0,2020-06-18
56,Estonia,1977,69,2020-06-18
57,Eswatini,586,4,2020-06-18
58,Ethiopia,3954,65,2020-06-18
59,Falkland Islands,13,0,2020-06-18
60,Faroe Islands,187,0,2020-06-18
61,Fiji,18,0,2020-06-18
62,Finland,7119,326,2020-06-18
63,France,190107,29540,2020-06-18
64,French Guiana,1758,5,2020-06-18
65,French Polynesia,60,0,2020-06-18
66,Gabon,4340,32,2020-06-18
67,Gambia,36,1,2020-06-18
68,Georgia,893,14,2020-06-18
69,Germany,189817,8875,2020-06-18
70,Ghana,12929,66,2020-06-18
71,Gibraltar,176,0,2020-06-18
72,Greece,3227,188,2020-06-18
73,Greenland,13,0,2020-06-18
74,Grenada,23,0,2020-06-18
75,Guatemala,11868,449,2020-06-18
76,Guernsey,570,48,2020-06-18
77,Guinea,4841,26,2020-06-18
78,Guinea-Bissau,1492,15,2020-06-18
79,Guyana,183,12,2020-06-18
80,Haiti,4916,84,2020-06-18
81,Honduras,10739,343,2020-06-18
82,Hong Kong,1124,4,2020-06-18
83,Hungary,4079,568,2020-06-18
84,Iceland,1816,10,2020-06-18
85,India,380532,12573,2020-06-18
86,Indonesia,42762,2339,2020-06-18
87,Iran,197647,9272,2020-06-18
88,Iraq,25717,856,2020-06-18
89,Ireland,25355,1714,2020-06-18
90,Isle of Man,336,24,2020-06-18
91,Israel,20036,303,2020-06-18
92,Italy,238159,34514,2020-06-18
93,Ivory Coast,6444,49,2020-06-18
94,Jamaica,638,10,2020-06-18
95,Japan,17588,935,2020-06-18
96,Jordan,1001,9,2020-06-18
97,Kazakhstan,15877,100,2020-06-18
98,Kenya,4257,117,2020-06-18
99,Kosovo,1486,33,2020-06-18
100,Kuwait,38074,308,2020-06-18
101,Kyrgyzstan,2657,31,2020-06-18
102,Laos,19,0,2020-06-18
103,Latvia,1108,30,2020-06-18
104,Lebanon,1495,32,2020-06-18
105,Lesotho,4,0,2020-06-18
106,Liberia,542,33,2020-06-18
107,Libya,510,10,2020-06-18
108,Liechtenstein,82,1,2020-06-18
109,Lithuania,1784,76,2020-06-18
110,Luxembourg,4091,110,2020-06-18
111,Macao,45,0,2020-06-18
112,Madagascar,1403,13,2020-06-18
113,Malawi,592,8,2020-06-18
114,Malaysia,8529,121,2020-06-18
115,Maldives,2137,8,2020-06-18
116,Mali,1906,107,2020-06-18
117,Malta,663,9,2020-06-18
118,Mauritania,2424,97,2020-06-18
119,Mauritius,337,10,2020-06-18
120,Mayotte,2383,29,2020-06-18
121,Mexico,165455,19747,2020-06-18
122,Moldova,13106,444,2020-06-18
123,Monaco,99,4,2020-06-18
124,Mongolia,204,0,2020-06-18
125,Montenegro,337,9,2020-06-18
126,Montserrat,11,1,2020-06-18
127,Morocco,9074,213,2020-06-18
128,Mozambique,662,4,2020-06-18
129,Myanmar,286,6,2020-06-18
130,Namibia,39,0,2020-06-18
131,Nepal,7848,22,2020-06-18
132,Netherlands,49319,6078,2020-06-18
133,New Caledonia,21,0,2020-06-18
134,New Zealand,1507,22,2020-06-18
135,Nicaragua,1823,64,2020-06-18
136,Niger,1020,67,2020-06-18
137,Nigeria,18480,475,2020-06-18
138,North Macedonia,4664,216,2020-06-18
139,Norway,8708,244,2020-06-18
140,Oman,26818,119,2020-06-18
141,Pakistan,165062,3229,2020-06-18
142,Palestinian Territory,600,3,2020-06-18
143,Panama,23351,475,2020-06-18
144,Papua New Guinea,8,0,2020-06-18
145,Paraguay,1330,13,2020-06-18
146,Peru,244388,7461,2020-06-18
147,Philippines,27799,1116,2020-06-18
148,Poland,31015,1316,2020-06-18
149,Portugal,38089,1524,2020-06-18
150,Qatar,84441,86,2020-06-18
151,Republic of the Congo,883,27,2020-06-18
152,Romania,23080,1473,2020-06-18
153,Russia,560321,7650,2020-06-18
154,Rwanda,646,2,2020-06-18
155,Saint Barthelemy,6,0,2020-06-18
156,Saint Kitts and Nevis,15,0,2020-06-18
157,Saint Lucia,19,0,2020-06-18
158,Saint Pierre and Miquelon,1,0,2020-06-18
159,Saint Vincent and the Grenadines,29,0,2020-06-18
160,San Marino,696,42,2020-06-18
161,Sao Tome and Principe,688,12,2020-06-18
162,Saudi Arabia,145991,1139,2020-06-18
163,Senegal,5475,76,2020-06-18
164,Serbia,12616,258,2020-06-18
165,Seychelles,11,0,2020-06-18
166,Sierra Leone,1272,51,2020-06-18
167,Singapore,41473,26,2020-06-18
168,Sint Maarten,77,15,2020-06-18
169,Slovakia,1562,28,2020-06-18
170,Slovenia,1511,109,2020-06-18
171,Somalia,2719,88,2020-06-18
172,South Africa,83890,1737,2020-06-18
173,South Korea,12306,280,2020-06-18
174,South Sudan,1830,32,2020-06-18
175,Spain,245268,27136,2020-06-18
176,Sri Lanka,1947,11,2020-06-18
177,Sudan,8020,487,2020-06-18
178,Suriname,277,7,2020-06-18
179,Sweden,56043,5053,2020-06-18
180,Switzerland,31200,1956,2020-06-18
181,Syria,187,7,2020-06-18
182,Taiwan,446,7,2020-06-18
183,Tajikistan,5279,51,2020-06-18
184,Tanzania,509,21,2020-06-18
185,Thailand,3141,58,2020-06-18
186,Timor Leste,24,0,2020-06-18
187,Togo,547,13,2020-06-18
188,Trinidad and Tobago,123,8,2020-06-18
189,Tunisia,1132,50,2020-06-18
190,Turkey,184031,4882,2020-06-18
191,Turks and Caicos Islands,12,1,2020-06-18
192,Uganda,741,0,2020-06-18
193,Ukraine,34833,976,2020-06-18
194,United Arab Emirates,43752,298,2020-06-18
195,United Kingdom,300469,42288,2020-06-18
196,United States,2191052,118434,2020-06-18
197,Uruguay,850,24,2020-06-18
198,Uzbekistan,5767,19,2020-06-18
199,Vatican,12,0,2020-06-18
200,Venezuela,3483,28,2020-06-18
201,Vietnam,342,0,2020-06-18
202,Western Sahara,9,1,2020-06-18
203,Yemen,909,248,2020-06-18
204,Zambia,1416,11,2020-06-18
205,Zimbabwe,463,4,2020-06-18

### Case counts by US States aggregated from US Counties
Note, some counties in the Johns Hopkins dataset cannot be mapped to US counties. They are listed in as "None"

In [6]:
query = """
MATCH (c:Cases{date: $date, source: 'JHU'})-[:REPORTED_IN]->(a:Admin2)-[:IN]->(a1:Admin1)
RETURN a1.name as state, a1.code, a1.location, sum(c.cummulativeDeaths) as deaths, sum(c.cummulativeConfirmed) as confirmed, c.date as dateUTC
ORDER BY a1.code
"""
graph.run(query, date=yesterday).to_data_frame()

,state,a1.code,a1.location,deaths,confirmed,dateUTC
0,Alaska,AK,"(-150.00028, 64.00028)",12,704,2020-06-18
1,Alabama,AL,"(-86.75026, 32.75041)",799,27614,2020-06-18
2,Arkansas,AR,"(-92.50044, 34.75037)",205,12712,2020-06-18
3,Arizona,AZ,"(-111.50098, 34.5003)",1282,43445,2020-06-18
4,California,CA,"(-119.75126, 37.25022)",5308,164066,2020-06-18
5,Colorado,CO,"(-105.50083, 39.00027)",1638,29886,2020-06-18
6,Connecticut,CT,"(-72.66648, 41.66704)",4226,45170,2020-06-18
7,Delaware,DE,"(-75.49992, 39.00039)",431,10485,2020-06-18
8,Florida,FL,"(-82.5001, 28.75054)",3014,84394,2020-06-18
9,Georgia,GA,"(-83.50018, 32.75042)",2564,56893,2020-06-18
10,Hawaii,HI,"(-156.38612, 20.78785)",17,750,2020-06-18
11,Iowa,IA,"(-93.50049, 42.00027)",680,24854,2020-06-18
12,Idaho,ID,"(-114.25118, 44.5002)",89,3743,2020-06-18
13,Illinois,IL,"(-89.25037, 40.00032)",6414,133190,2020-06-18
14,Indiana,IN,"(-86.25027, 40.00032)",2251,39826,2020-06-18
15,Kansas,KS,"(-98.50063, 38.50029)",251,11753,2020-06-18
16,Kentucky,KY,"(-84.87762, 38.20042)",520,13179,2020-06-18
17,Louisiana,LA,"(-92.0004, 31.00047)",2481,42366,2020-06-18
18,Massachusetts,MA,"(-71.10832, 42.36565)",7759,106057,2020-06-18
19,Maryland,MD,"(-76.74997, 39.00039)",2637,55728,2020-06-18
20,Maine,ME,"(-69.24977, 45.50032)",102,2876,2020-06-18
21,Michigan,MI,"(-85.50033, 44.25029)",5937,61793,2020-06-18
22,Minnesota,MN,"(-94.25055, 46.25024)",1329,31488,2020-06-18
23,Missouri,MO,"(-92.50046, 38.25031)",155,6519,2020-06-18
24,Mississippi,MS,"(-89.75036, 32.75041)",924,19851,2020-06-18
25,Montana,MT,"(-109.75102, 47.00025)",20,655,2020-06-18
26,North Carolina,NC,"(-80.00032, 35.50069)",1190,48167,2020-06-18
27,North Dakota,ND,"(-100.00068, 47.50027)",75,3193,2020-06-18
28,Nebraska,NE,"(-99.75067, 41.50028)",238,17238,2020-06-18
29,New Hampshire,NH,"(-71.4998, 43.66702)",331,5449,2020-06-18
30,New Jersey,NJ,"(-74.49987, 40.16706)",12869,167958,2020-06-18
31,New Mexico,NM,"(-106.00085, 34.50034)",446,8687,2020-06-18
32,Nevada,NV,"(-116.75119, 39.25021)",475,12169,2020-06-18
33,New York,NY,"(-75.4999, 43.00035)",30974,385760,2020-06-18
34,Ohio,OH,"(-83.00018, 40.25034)",2633,43122,2020-06-18
35,Oklahoma,OK,"(-97.50328, 35.49209)",366,9355,2020-06-18
36,Oregon,OR,"(-120.50139, 44.00013)",187,6366,2020-06-18
37,Pennsylvania,PA,"(-77.7, 40.8)",6361,84683,2020-06-18
38,Rhode Island,RI,"(-71.49978, 41.75038)",0,14524,2020-06-18
39,South Carolina,SC,"(-81.00009, 34.00043)",621,21533,2020-06-18
40,South Dakota,SD,"(-100.25069, 44.50026)",78,6109,2020-06-18
41,Tennessee,TN,"(-86.25027, 35.75035)",501,32155,2020-06-18
42,Texas,TX,"(-99.25061, 31.25044)",2129,101259,2020-06-18
43,Utah,UT,"(-111.75103, 39.25024)",132,13062,2020-06-18
44,Virginia,VA,"(-77.44675, 37.54812)",1272,43428,2020-06-18
45,Vermont,VT,"(-72.74983, 44.00034)",56,1130,2020-06-18
46,Washington,WA,"(-120.50147, 47.50012)",1245,27145,2020-06-18
47,Wisconsin,WI,"(-90.00041, 44.50024)",719,23757,2020-06-18
48,West Virginia,WV,"(-80.50009, 38.50038)",88,2418,2020-06-18
49,Wyoming,WY,"(-107.5009, 43.00024)",1,1144,2020-06-18
50,None,None,None,2782,56048,2020-06-18

### Current cases in San Diego County

In [7]:
admin2 = 'San Diego County'

query = """
MATCH (c:Cases{date: date($day), source: 'JHU'})-[:REPORTED_IN]->(a:Admin2{name: $admin2})
RETURN a.name as name, c.cummulativeConfirmed as confirmed, c.cummulativeDeaths as deaths, c.date as dateUTC
"""
graph.run(query, admin2=admin2, day=yesterday).to_data_frame()

               name  confirmed  deaths     dateUTC
0  San Diego County      10092     331  2020-06-18

### Cases in San Diego County time series

In [8]:
query = """
MATCH (c:Cases{source: 'JHU'})-[:REPORTED_IN]->(a:Admin2{name: $admin2})
RETURN a.name as name, c.cummulativeConfirmed as confirmed, c.cummulativeDeaths as deaths, c.date as dateUTC
ORDER BY c.date DESC
"""
graph.run(query, admin2=admin2).to_data_frame()

                 name  confirmed  deaths     dateUTC
0    San Diego County      10350     332  2020-06-19
1    San Diego County      10092     331  2020-06-18
2    San Diego County       9730     323  2020-06-17
3    San Diego County       9730     323  2020-06-16
4    San Diego County       9610     320  2020-06-15
5    San Diego County       9440     319  2020-06-14
6    San Diego County       9314     319  2020-06-13
7    San Diego County       8998     308  2020-06-12
8    San Diego County       8998     308  2020-06-11
9    San Diego County       8837     305  2020-06-10
10   San Diego County       8619     296  2020-06-09
11   San Diego County       8619     296  2020-06-08
12   San Diego County       8345     296  2020-06-07
13   San Diego County       8345     296  2020-06-06
14   San Diego County       7940     288  2020-06-05
15   San Diego County       7798     283  2020-06-04
16   San Diego County       7674     276  2020-06-03
17   San Diego County       7554     269  2020-06-02
18   San Diego County       7481     269  2020-06-01
19   San Diego County       7481     269  2020-05-31
20   San Diego County       7385     269  2020-05-30
21   San Diego County       7100     260  2020-05-29
22   San Diego County       7100     260  2020-05-28
23   San Diego County       6882     249  2020-05-27
24   San Diego County       6797     249  2020-05-26
25   San Diego County       6701     249  2020-05-25
26   San Diego County       6559     249  2020-05-24
27   San Diego County       6559     249  2020-05-23
28   San Diego County       6315     241  2020-05-22
29   San Diego County       6140     230  2020-05-21
30   San Diego County       6140     230  2020-05-20
31   San Diego County       6026     222  2020-05-19
32   San Diego County       5836     209  2020-05-18
33   San Diego County       5836     209  2020-05-17
34   San Diego County       5662     209  2020-05-16
35   San Diego County       5391     200  2020-05-15
36   San Diego County       5391     200  2020-05-14
37   San Diego County       5161     190  2020-05-13
38   San Diego County       5161     190  2020-05-12
39   San Diego County       5065     175  2020-05-11
40   San Diego County       4776     175  2020-05-10
41   San Diego County       4662     169  2020-05-09
42   San Diego County       4429     165  2020-05-08
43   San Diego County       4319     158  2020-05-07
44   San Diego County       4319     158  2020-05-06
45   San Diego County       4020     144  2020-05-05
46   San Diego County       3927     139  2020-05-04
47   San Diego County       3927     139  2020-05-03
48   San Diego County       3711     134  2020-05-02
49   San Diego County       3564     124  2020-05-01
50   San Diego County       3432     120  2020-04-30
51   San Diego County       3432     120  2020-04-29
52   San Diego County       3141     113  2020-04-28
53   San Diego County       3043     111  2020-04-27
54   San Diego County       2943     111  2020-04-26
55   San Diego County       2943     111  2020-04-25
56   San Diego County       2826     102  2020-04-24
57   San Diego County       2643     100  2020-04-23
58   San Diego County       2491      96  2020-04-22
59   San Diego County       2325      72  2020-04-21
60   San Diego County       2268      71  2020-04-20
61   San Diego County       2213      71  2020-04-19
62   San Diego County       2158      70  2020-04-18
63   San Diego County       2087      63  2020-04-17
64   San Diego County       2012      60  2020-04-16
65   San Diego County       1930      53  2020-04-15
66   San Diego County       1847      47  2020-04-14
67   San Diego County       1804      45  2020-04-13
68   San Diego County       1761      45  2020-04-12
69   San Diego County       1693      44  2020-04-11
70   San Diego County       1628      40  2020-04-10
71   San Diego County       1530      36  2020-04-09
72   San Diego County       1454      31  2020-04-08
73   San Diego County       1404      19  2020-04-07
74   San Diego County       1326      19  2020-04-06
75   San Diego County       1209      18  2020-04-05
76   San Diego County       1112      17  2020-04-04
77   San Diego County        966      16  2020-04-03
78   San Diego County        849      15  2020-04-02
79   San Diego County        733       9  2020-04-01
80   San Diego County        603       7  2020-03-31
81   San Diego County        515       7  2020-03-30
82   San Diego County        484       7  2020-03-29
83   San Diego County        413       6  2020-03-28
84   San Diego County        341       3  2020-03-27
85   San Diego County        293       3  2020-03-26
86   San Diego County        238       2  2020-03-25
87   San Diego County        226       1  2020-03-24
88   San Diego County        201       1  2020-03-23
89   San Diego County        155       0  2020-03-22
90   San Diego County        127       0  2020-03-21
91   San Diego County        127       0  2020-03-20
92   San Diego County         80       0  2020-03-19
93   San Diego County         60       0  2020-03-18
94   San Diego County         55       0  2020-03-17
95   San Diego County         55       0  2020-03-16
96   San Diego County         16       0  2020-03-15
97   San Diego County         10       0  2020-03-14
98   San Diego County          8       0  2020-03-13
99   San Diego County          5       0  2020-03-12
100  San Diego County          3       0  2020-03-11
101  San Diego County          3       0  2020-03-10
102  San Diego County          3       0  2020-03-09
103  San Diego County          3       0  2020-03-08
104  San Diego County          3       0  2020-03-07
105  San Diego County          3       0  2020-03-06
106  San Diego County          3       0  2020-03-05
107  San Diego County          2       0  2020-03-04
108  San Diego County          2       0  2020-03-03
109  San Diego County          2       0  2020-03-02
110  San Diego County          2       0  2020-03-01
111  San Diego County          2       0  2020-02-29
112  San Diego County          2       0  2020-02-28
113  San Diego County          2       0  2020-02-27
114  San Diego County          2       0  2020-02-26
115  San Diego County          2       0  2020-02-25
116  San Diego County          2       0  2020-02-24
117  San Diego County          2       0  2020-02-23
118  San Diego County          2       0  2020-02-22
119  San Diego County          2       0  2020-02-21
120  San Diego County          2       0  2020-02-20
121  San Diego County          2       0  2020-02-19
122  San Diego County          2       0  2020-02-18
123  San Diego County          2       0  2020-02-17
124  San Diego County          2       0  2020-02-16
125  San Diego County          2       0  2020-02-15
126  San Diego County          2       0  2020-02-14
127  San Diego County          2       0  2020-02-13
128  San Diego County          1       0  2020-02-12
129  San Diego County          1       0  2020-02-11

### Current cases in San Diego Country by Zip code

In [9]:
query = """
MATCH (c:Cases{date: date($day), source: 'SDHHSA'})-[:REPORTED_IN]->(p:PostalCode)
RETURN p.name as zip, c.cummulativeConfirmed as confirmed, c.date as date
ORDER by zip
"""
graph.run(query, day=yesterday).to_data_frame()

      zip  confirmed        date
0   91901         18  2020-06-18
1   91902         53  2020-06-18
2   91905          4  2020-06-18
3   91906          6  2020-06-18
4   91910        493  2020-06-18
5   91911        667  2020-06-18
6   91913        189  2020-06-18
7   91914         59  2020-06-18
8   91915        102  2020-06-18
9   91916          3  2020-06-18
10  91917          5  2020-06-18
11  91932        156  2020-06-18
12  91935         18  2020-06-18
13  91941         83  2020-06-18
14  91942        102  2020-06-18
15  91945        107  2020-06-18
16  91950        511  2020-06-18
17  91963         13  2020-06-18
18  91977        306  2020-06-18
19  91978         36  2020-06-18
20  91980          7  2020-06-18
21  92003          8  2020-06-18
22  92004          9  2020-06-18
23  92007         12  2020-06-18
24  92008         27  2020-06-18
25  92009         38  2020-06-18
26  92010         20  2020-06-18
27  92011         18  2020-06-18
28  92014         24  2020-06-18
29  92019        114  2020-06-18
30  92020        355  2020-06-18
31  92021        303  2020-06-18
32  92024         73  2020-06-18
33  92025        160  2020-06-18
34  92026        122  2020-06-18
35  92027        126  2020-06-18
36  92028         56  2020-06-18
37  92029         21  2020-06-18
38  92036          2  2020-06-18
39  92037         57  2020-06-18
40  92040         85  2020-06-18
41  92054         73  2020-06-18
42  92055          2  2020-06-18
43  92056         76  2020-06-18
44  92057         78  2020-06-18
45  92058         52  2020-06-18
46  92059          2  2020-06-18
47  92061          1  2020-06-18
48  92064         58  2020-06-18
49  92065         56  2020-06-18
50  92066          2  2020-06-18
51  92067         15  2020-06-18
52  92069         84  2020-06-18
53  92070          1  2020-06-18
54  92071         84  2020-06-18
55  92075         15  2020-06-18
56  92078         60  2020-06-18
57  92081         40  2020-06-18
58  92082         23  2020-06-18
59  92083         89  2020-06-18
60  92084         82  2020-06-18
61  92091          2  2020-06-18
62  92093          4  2020-06-18
63  92101        139  2020-06-18
64  92102        250  2020-06-18
65  92103        148  2020-06-18
66  92104        143  2020-06-18
67  92105        339  2020-06-18
68  92106         18  2020-06-18
69  92107         28  2020-06-18
70  92108         71  2020-06-18
71  92109         85  2020-06-18
72  92110         61  2020-06-18
73  92111         92  2020-06-18
74  92113        442  2020-06-18
75  92114        350  2020-06-18
76  92115        214  2020-06-18
77  92116         67  2020-06-18
78  92117         88  2020-06-18
79  92118         23  2020-06-18
80  92119         45  2020-06-18
81  92120         43  2020-06-18
82  92121          4  2020-06-18
83  92122         41  2020-06-18
84  92123         65  2020-06-18
85  92124         40  2020-06-18
86  92126        125  2020-06-18
87  92127         69  2020-06-18
88  92128         70  2020-06-18
89  92129         48  2020-06-18
90  92130         53  2020-06-18
91  92131         26  2020-06-18
92  92134          5  2020-06-18
93  92135          6  2020-06-18
94  92136         15  2020-06-18
95  92139        166  2020-06-18
96  92140         45  2020-06-18
97  92145          2  2020-06-18
98  92154        834  2020-06-18
99  92173        450  2020-06-18