# Example queries for biological entities on COVID-19 Knowledge Graph
[Work in progress]

This notebook demonstrates how to run Cypher queries in a Jupyter Notebook by connecting to a database server.

In [31]:
import datetime
import pandas as pd
from py2neo import Graph

In [32]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

In [33]:
graph = Graph("bolt://132.249.238.185:7687", user="reader", password="demo")

### List Node Metadata

In [34]:
query = """
MATCH (n:NodeMetadata)
RETURN n.name, n.shortDescription, n.description, n.example, n.details
"""
graph.run(query).to_data_frame()

,n.name,n.shortDescription,n.description,n.example,n.details
0,Location,Geographic location,A geograpic location,"World, ..., Country, State, Country, City, Cru...",None
1,World,The World,Top level location,None,None
2,UNRegion,Continental regions,Continental regions according to the M49 stan...,Americas,https://unstats.un.org/unsd/methodology/m49/
3,UNSubRegion,Subcontinental regions,Subcontinental regions according to the M49 st...,Latin America and the Caribbean,https://unstats.un.org/unsd/methodology/m49/
4,UNIntermediateRegion,Subdivisions of subcontinental regions,Subdivisions of subcontinental regions accordi...,Caribbean,https://unstats.un.org/unsd/methodology/m49/
5,Country,Countries and dependent Territories,Countries and dependent Territories defined b...,United States,http://www.geonames.org/
6,Admin1,"State, Province, Municipality","First administrative divisions, e.g, State, Pr...",California,http://www.geonames.org/
7,Admin2,County,Second administrative divisions: County in the US,San Diego County,http://www.geonames.org/
8,City,City,City,San Diego,http://www.geonames.org/
9,CruiseShip,Cruise ship,Cruise ship,Diamond Princess,http://www.productontology.org/doc/Cruise_ship
10,USRegion,Regions of the US,Regions defined by the US Census Bureau,West Region,https://www.census.gov/geographies/reference-f...
11,USDivision,Subregions of US,Divisions defined by the US Census Burea,Pacific Division,https://www.census.gov/geographies/reference-f...
12,Cases,Case counts,Number of case for outbreaks or diseases at sp...,COVID-19-YYYYMMDD,None
13,Outbreak,Increase in disease occurance,Statistically significant increase in disease ...,COVID-19,http://purl.obolibrary.org/obo/IDO_0000502
14,Organism,Living system,"Individual living system, such as animal, plan...",Homo sapiens,http://purl.obolibrary.org/obo/OBI_0100026
15,Host,Host organism for a virus,A host organism provides an environment suppor...,Homo sapiens,http://purl.obolibrary.org/obo/IDO_0000531
16,Pathogen,Diseae causing organism,"A bacterium, virus, or other microorganism tha...",SARS-CoV-2,http://purl.obolibrary.org/obo/IDO_0000528
17,Strain,Genetic variant of an organism,A population of organisms that is geneticaly d...,COVID-19 strain,https://semanticscience.org/resource/SIO_01005...
18,Clade,Group of organisms based on common ancestors,An identifier that denotes a group of organism...,SARS-CoV-2 A,http://purl.obolibrary.org/obo/APOLLO_SV_00000232
19,Gene,Sequence of nucleotides,Sequence of nucleotides in DNA or RNA that enc...,SARS-CoV-2 S gene,http://purl.obolibrary.org/obo/SO_0000704
20,Protein,Sequence of amino acids,Proteins are large biomolecules consisting of ...,Spike protein,http://purl.obolibrary.org/obo/SO_0000104
21,Publication,Published document,A document that has been accepted by a publisher,None,http://purl.obolibrary.org/obo/IAO_0000311

### List Organisms in KG

In [35]:
query = """
MATCH (p:Organism)
RETURN p.name as name, p.scientificName as scientificName, p.id as taxonomy
"""
graph.run(query).to_data_frame()

                          name scientificName          taxonomy
0                   SARS-CoV-2           None  taxonomy:2697049
1                     MERS-CoV           None  taxonomy:1335626
2                     SARS-CoV           None   taxonomy:694009
3                        human           None     taxonomy:9606
4   intermediate horseshoe bat           None    taxonomy:59477
5        Malayan horseshoe bat           None   taxonomy:608659
6                horseshoe bat           None    taxonomy:49442
7             Malayan pangolin           None     taxonomy:9974
8                   palm civet           None    taxonomy:71116
9                   carnivores           None     taxonomy:9608
10                         cat           None     taxonomy:9685
11               European mink           None     taxonomy:9666
12               Malayan tiger           None   taxonomy:419130

### List Coronavirus Outbreaks

In [36]:
query = """
MATCH (p:Pathogen)-[:CAUSES]->(o:Outbreak)
RETURN p.name as name, p.scientificName as scientificName, p.id as taxonomy, o.id as outbreak, o.startDate as startDate
"""
graph.run(query).to_data_frame()

         name scientificName          taxonomy  outbreak startDate
0  SARS-CoV-2           None  taxonomy:2697049  COVID-19      2019
1    MERS-CoV           None  taxonomy:1335626      MERS      2012
2    SARS-CoV           None   taxonomy:694009      SARS      2003

### List Strains that are mentioned in PubMed Central Articles

In [37]:
query = """
MATCH (p:Publication)-[:MENTIONS]->(s:Strain)<-[:CARRIES]-(h:Host)
RETURN p.id as pmc, s.name as name, s.collectionDate  as collectionDate, h.name as host, h.id as host_id
ORDER by s.collectionDate
"""
graph.run(query).to_data_frame().head(20)

,pmc,name,collectionDate,host,host_id
0,pmc:PMC7166773,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
1,pmc:PMC7166309,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
2,pmc:PMC7095418,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
3,pmc:PMC7118693,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
4,pmc:PMC7205519,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
5,pmc:PMC7194065,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
6,pmc:PMC7156227,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
7,pmc:PMC7182198,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
8,pmc:PMC7230814,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
9,pmc:PMC7106073,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
10,pmc:PMC7228347,TG13,2013-07-24,intermediate horseshoe bat,taxonomy:59477
11,pmc:PMC7166309,BetaCoV/pangolin/Guangxi/P5E/2017,2017-01-01,Malayan pangolin,taxonomy:9974
12,pmc:PMC7166309,BetaCoV/pangolin/Guangxi/P5L/2017,2017-01-01,Malayan pangolin,taxonomy:9974
13,pmc:PMC7166309,BetaCoV/pangolin/Guangxi/P4L/2017,2017-01-01,Malayan pangolin,taxonomy:9974
14,pmc:PMC7166309,BetaCoV/pangolin/Guangxi/P1E/2017,2017-01-01,Malayan pangolin,taxonomy:9974
15,pmc:PMC7166309,BetaCoV/pangolin/Guangxi/P2V/2017,2017-01-01,Malayan pangolin,taxonomy:9974
16,pmc:PMC7228214,BetaCoV/pangolin/Guangxi/P4L/2017,2017-01-01,Malayan pangolin,taxonomy:9974
17,pmc:PMC7166309,BetaCoV/pangolin/Guandong/1/2020,2019-01-01,Malayan pangolin,taxonomy:9974
18,pmc:PMC7228214,BetaCoV/pangolin/Guandong/1/2020,2019-01-01,Malayan pangolin,taxonomy:9974
19,pmc:PMC7205519,BetaCoV/pangolin/Guandong/1/2020,2019-01-01,Malayan pangolin,taxonomy:9974

### List Gene and Protein information for Reference Genome
This query lists the genes and proteins encoded by the SARS-CoV-2 reference genome. This is the first genome of SARS-CoV-2 collected in Wuhan on Dec. 5, 2019.

In [38]:
query = """
MATCH (s:Strain)-[:HAS]->(g:Gene)-[:ENCODES]->(p:Protein)
RETURN s.id as referenceGenome, s.name as name, s.collectionDate  as collectionDate, 
       g.name as gene, g.id as geneId, p.name as protein, p.id as protein_id 
ORDER by s.collectionDate
"""
graph.run(query).to_data_frame()

,referenceGenome,name,collectionDate,gene,geneId,protein,protein_id
0,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-266-21555,Replicase polyprotein 1ab,md5:e6608b50fcd6e004708a875615ddf2d9
1,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-266-13483,Replicase polyprotein 1a,md5:e781b58591b8dbdd15f84dcbdec82105
2,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,S,ncbigene:43740568-21563-25384,Spike glycoprotein,md5:4c35f09aac2f7be4f3cffd30c6aecac8
3,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF3a,ncbigene:43740569-25393-26220,Protein 3a,md5:f5c8b89ceac3f14e456577557df1ef40
4,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,E,ncbigene:43740570-26245-26472,Envelope small membrane protein,md5:375e0f905c315e06a99c80b736c125d2
5,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,M,ncbigene:43740571-26523-27191,Membrane protein,md5:1cd6abff79ad3633e17582eb0e576539
6,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF6,ncbigene:43740572-27202-27387,Non-structural protein 6,md5:90b50e0be9abd893bd32b163d6933f0c
7,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF7a,ncbigene:43740573-27394-27759,Protein 7a,md5:f65213344e2e68de1cae4feb9c5e07b1
8,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF7b,ncbigene:43740574-27756-27887,Protein non-structural 7b,md5:c7f0179da4ca26456ee905081f485cc8
9,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF8,ncbigene:43740577-27894-28259,Non-structural protein 8,md5:3a77ad9207d29beacfbf6f18b0da9e26
10,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,N,ncbigene:43740575-28274-29533,Nucleoprotein,md5:b100d0849c3e01fc6c75ead0e916ce0f
11,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF10,ncbigene:43740576-29558-29674,ORF10 protein,md5:06bfef85cf1319e805e05f5bee3ec601
12,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-266-805,Host translation inhibitor nsp1,md5:5c2c364f44079728c451280435c4236a
13,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-806-2719,Non-structural protein 2,md5:073edb2349ddcd9a72ecd9f5c1dccdc4
14,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-2720-8554,Non-structural protein 3,md5:73935ca55d0ab6130627210ef6743c39
15,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-8555-10054,Non-structural protein 4,md5:6890e7e8e12f73c2dfdae6805ebc9c4f
16,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-10055-10972,3C-like proteinase,md5:dc6436f559bc873ac013085f6e56d467
17,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-10973-11842,Non-structural protein 6,md5:99424071c355c54269f6cd3522680033
18,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-11843-12091,Non-structural protein 7,md5:173be79f5a6fd85a7edb5c75cdc41fa3
19,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-12092-12685,Non-structural protein 8,md5:92ebecdcff1a59d6123f4e3133264695
20,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-12686-13024,Non-structural protein 9,md5:8c32758bc2f4b49ed8c6dfe7caa7ea49
21,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-13025-13441,Non-structural protein 10,md5:af0cec59296f3c845a7b04500cd6886b
22,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-13442-16236,RNA-directed RNA polymerase,md5:b88e641d00c17a3ce19cc9852c37717c
23,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-16237-18039,Helicase,md5:a489cf148afc7205eec14549ffe4ebfd
24,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-18040-19620,Proofreading exoribonuclease,md5:96fda12ecf3dcfec082377cc27e80e55
25,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-19621-20658,Uridylate-specific endoribonuclease,md5:d7d018de059ea6b8c092267ff6371d38
26,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-20659-21552,2'-O-methyltransferase,md5:42b973dceb72cdea04fda203c55b67bc
27,ncbiprotein:NC_045512,Wuhan-Hu-1,2019-12-09,ORF1ab,ncbigene:43740578-13442-13480,Non-structural protein 11,md5:63d2c81f37726f44c600eb5225676a66

### Find Mutations in the SARS-CoV-2 "S" gene
The S gene is translated by the human or other species to the spike protein, which binds the human ACE2 receptor to gain entrance into the cell. Here we compare the mutations (missense mutations) found at different locations.

In [39]:
query = """
MATCH (g:Gene{name:'S'})-[:HAS_VARIANT]->(v:Variant{variantConsequence:'missense_variant'})
<-[:HAS_VARIANT]-(s:Strain)-[:FOUND_IN]->(l:Location)-[:IN*]->(r:USRegion{name:$region}) 
RETURN v.name AS mutation, l.name AS location, r.name AS region
ORDER BY v.name, l.name
"""

##### Variants in the US West Region

In [40]:
region = 'West Region'
graph.run(query, region=region).to_data_frame().head(10)

          mutation           location       region
0  S:c.1042Gca>Aca         Washington  West Region
1  S:c.1042Gca>Aca         Washington  West Region
2  S:c.1151cCt>cTt        King County  West Region
3  S:c.1151cCt>cTt          San Diego  West Region
4  S:c.1153Act>Gct  Washington County  West Region
5  S:c.1183Gtc>Atc          San Diego  West Region
6  S:c.1214gAt>gTt            Arizona  West Region
7  S:c.1240Caa>Gaa            Arizona  West Region
8  S:c.1240Caa>Gaa            Arizona  West Region
9  S:c.1240Caa>Gaa            Arizona  West Region

##### Variants in the US Northeast Region

In [41]:
region = 'Northeast Region'
graph.run(query, region=region).to_data_frame().head(10)

          mutation       location            region
0  S:c.1076aGc>aAc         Queens  Northeast Region
1  S:c.1150Cct>Tct         Queens  Northeast Region
2  S:c.1150Cct>Tct         Queens  Northeast Region
3    S:c.13Ctt>Ttt       Brooklyn  Northeast Region
4    S:c.13Ctt>Ttt       Brooklyn  Northeast Region
5    S:c.13Ctt>Ttt       Brooklyn  Northeast Region
6    S:c.13Ctt>Ttt  Hudson County  Northeast Region
7    S:c.13Ctt>Ttt      Manhattan  Northeast Region
8    S:c.13Ctt>Ttt  Massachusetts  Northeast Region
9    S:c.13Ctt>Ttt  Massachusetts  Northeast Region

## List COVID Case Data

### Cases in a specific County (Admin2)

#### At a specific date

In [42]:
today = datetime.datetime.utcnow().date()
yesterday = today - datetime.timedelta(days=1)

In [43]:
admin2 = 'San Diego County'

query = """
MATCH (c:Cases{date: date($day)})-[:REPORTED_IN]->(a:Admin2{name: $admin2})
RETURN a.name as name, c.cummulativeConfirmed as confirmed, c.cummulativeDeaths as deaths, c.date as dateUTC
"""
graph.run(query, admin2=admin2, day=yesterday).to_data_frame()

               name  confirmed  deaths     dateUTC
0  San Diego County       8619     296  2020-06-08

##### All available dates

In [44]:
query = """
MATCH (c:Cases)-[:REPORTED_IN]->(a:Admin2{name: $admin2})
RETURN a.name as name, c.cummulativeConfirmed as confirmed, c.cummulativeDeaths as deaths, c.date as dateUTC
ORDER BY c.date DESC
"""
graph.run(query, admin2=admin2).to_data_frame()

                 name  confirmed  deaths     dateUTC
0    San Diego County       8619     296  2020-06-08
1    San Diego County       8345     296  2020-06-07
2    San Diego County       8345     296  2020-06-06
3    San Diego County       7940     288  2020-06-05
4    San Diego County       7798     283  2020-06-04
5    San Diego County       7674     276  2020-06-03
6    San Diego County       7554     269  2020-06-02
7    San Diego County       7481     269  2020-06-01
8    San Diego County       7481     269  2020-05-31
9    San Diego County       7385     269  2020-05-30
10   San Diego County       7100     260  2020-05-29
11   San Diego County       7100     260  2020-05-28
12   San Diego County       6882     249  2020-05-27
13   San Diego County       6797     249  2020-05-26
14   San Diego County       6701     249  2020-05-25
15   San Diego County       6559     249  2020-05-24
16   San Diego County       6559     249  2020-05-23
17   San Diego County       6315     241  2020-05-22
18   San Diego County       6140     230  2020-05-21
19   San Diego County       6140     230  2020-05-20
20   San Diego County       6026     222  2020-05-19
21   San Diego County       5836     209  2020-05-18
22   San Diego County       5836     209  2020-05-17
23   San Diego County       5662     209  2020-05-16
24   San Diego County       5391     200  2020-05-15
25   San Diego County       5391     200  2020-05-14
26   San Diego County       5161     190  2020-05-13
27   San Diego County       5161     190  2020-05-12
28   San Diego County       5065     175  2020-05-11
29   San Diego County       4776     175  2020-05-10
30   San Diego County       4662     169  2020-05-09
31   San Diego County       4429     165  2020-05-08
32   San Diego County       4319     158  2020-05-07
33   San Diego County       4319     158  2020-05-06
34   San Diego County       4020     144  2020-05-05
35   San Diego County       3927     139  2020-05-04
36   San Diego County       3927     139  2020-05-03
37   San Diego County       3711     134  2020-05-02
38   San Diego County       3564     124  2020-05-01
39   San Diego County       3432     120  2020-04-30
40   San Diego County       3432     120  2020-04-29
41   San Diego County       3141     113  2020-04-28
42   San Diego County       3043     111  2020-04-27
43   San Diego County       2943     111  2020-04-26
44   San Diego County       2943     111  2020-04-25
45   San Diego County       2826     102  2020-04-24
46   San Diego County       2643     100  2020-04-23
47   San Diego County       2491      96  2020-04-22
48   San Diego County       2325      72  2020-04-21
49   San Diego County       2268      71  2020-04-20
50   San Diego County       2213      71  2020-04-19
51   San Diego County       2158      70  2020-04-18
52   San Diego County       2087      63  2020-04-17
53   San Diego County       2012      60  2020-04-16
54   San Diego County       1930      53  2020-04-15
55   San Diego County       1847      47  2020-04-14
56   San Diego County       1804      45  2020-04-13
57   San Diego County       1761      45  2020-04-12
58   San Diego County       1693      44  2020-04-11
59   San Diego County       1628      40  2020-04-10
60   San Diego County       1530      36  2020-04-09
61   San Diego County       1454      31  2020-04-08
62   San Diego County       1404      19  2020-04-07
63   San Diego County       1326      19  2020-04-06
64   San Diego County       1209      18  2020-04-05
65   San Diego County       1112      17  2020-04-04
66   San Diego County        966      16  2020-04-03
67   San Diego County        849      15  2020-04-02
68   San Diego County        733       9  2020-04-01
69   San Diego County        603       7  2020-03-31
70   San Diego County        515       7  2020-03-30
71   San Diego County        484       7  2020-03-29
72   San Diego County        413       6  2020-03-28
73   San Diego County        341       3  2020-03-27
74   San Diego County        293       3  2020-03-26
75   San Diego County        238       2  2020-03-25
76   San Diego County        226       1  2020-03-24
77   San Diego County        201       1  2020-03-23
78   San Diego County        155       0  2020-03-22
79   San Diego County        127       0  2020-03-21
80   San Diego County        127       0  2020-03-20
81   San Diego County         80       0  2020-03-19
82   San Diego County         60       0  2020-03-18
83   San Diego County         55       0  2020-03-17
84   San Diego County         55       0  2020-03-16
85   San Diego County         16       0  2020-03-15
86   San Diego County         10       0  2020-03-14
87   San Diego County          8       0  2020-03-13
88   San Diego County          5       0  2020-03-12
89   San Diego County          3       0  2020-03-11
90   San Diego County          3       0  2020-03-10
91   San Diego County          3       0  2020-03-09
92   San Diego County          3       0  2020-03-08
93   San Diego County          3       0  2020-03-07
94   San Diego County          3       0  2020-03-06
95   San Diego County          3       0  2020-03-05
96   San Diego County          2       0  2020-03-04
97   San Diego County          2       0  2020-03-03
98   San Diego County          2       0  2020-03-02
99   San Diego County          2       0  2020-03-01
100  San Diego County          2       0  2020-02-29
101  San Diego County          2       0  2020-02-28
102  San Diego County          2       0  2020-02-27
103  San Diego County          2       0  2020-02-26
104  San Diego County          2       0  2020-02-25
105  San Diego County          2       0  2020-02-24
106  San Diego County          2       0  2020-02-23
107  San Diego County          2       0  2020-02-22
108  San Diego County          2       0  2020-02-21
109  San Diego County          2       0  2020-02-20
110  San Diego County          2       0  2020-02-19
111  San Diego County          2       0  2020-02-18
112  San Diego County          2       0  2020-02-17
113  San Diego County          2       0  2020-02-16
114  San Diego County          2       0  2020-02-15
115  San Diego County          2       0  2020-02-14
116  San Diego County          2       0  2020-02-13
117  San Diego County          1       0  2020-02-12
118  San Diego County          1       0  2020-02-11

### Aggregate cases by State (Admin1)

In [45]:
query = """
MATCH (o:Outbreak{id: "COVID-19"})<-[:RELATED_TO]-(c:Cases{date: $date})-[:REPORTED_IN]->(a:Admin2)-[:IN]->(a1:Admin1)
RETURN a1.name as state, sum(c.cummulativeDeaths) as deaths, sum(c.cummulativeConfirmed) as confirmed, c.date as dateUTC
ORDER BY deaths DESC
"""
graph.run(query, date=yesterday).to_data_frame()

             state  deaths  confirmed     dateUTC
0         New York   30417     378799  2020-06-08
1       New Jersey   12214     164212  2020-06-08
2    Massachusetts    7344     103262  2020-06-08
3     Pennsylvania    5953      80339  2020-06-08
4         Illinois    5828     126915  2020-06-08
5         Michigan    5494      53745  2020-06-08
6       California    4614     131037  2020-06-08
7      Connecticut    4084      43820  2020-06-08
8          Florida    2675      63875  2020-06-08
9             None    2513      50503  2020-06-08
10        Maryland    2416      51555  2020-06-08
11            Ohio    2406      38837  2020-06-08
12       Louisiana    2375      37640  2020-06-08
13         Georgia    2174      48673  2020-06-08
14         Indiana    2093      36205  2020-06-08
15           Texas    1848      76463  2020-06-08
16        Colorado    1543      28169  2020-06-08
17        Virginia    1190      39850  2020-06-08
18       Minnesota    1183      28017  2020-06-08
19      Washington    1161      24012  2020-06-08
20         Arizona    1051      27678  2020-06-08
21  North Carolina    1041      36517  2020-06-08
22     Mississippi     826      17135  2020-06-08
23         Alabama     712      20449  2020-06-08
24       Wisconsin     646      20932  2020-06-08
25            Iowa     617      22003  2020-06-08
26  South Carolina     557      14800  2020-06-08
27        Kentucky     472      11469  2020-06-08
28          Nevada     442       9816  2020-06-08
29       Tennessee     417      26418  2020-06-08
30        Delaware     398       9961  2020-06-08
31      New Mexico     396       7867  2020-06-08
32        Oklahoma     348       7205  2020-06-08
33   New Hampshire     286       5070  2020-06-08
34          Kansas     236      10544  2020-06-08
35        Nebraska     188      15569  2020-06-08
36          Oregon     164       4922  2020-06-08
37        Arkansas     154       8685  2020-06-08
38        Missouri     127       5405  2020-06-08
39            Utah     110      10422  2020-06-08
40           Maine      99       2586  2020-06-08
41   West Virginia      84       2161  2020-06-08
42           Idaho      83       3189  2020-06-08
43    North Dakota      72       2880  2020-06-08
44    South Dakota      65       5471  2020-06-08
45         Vermont      55       1070  2020-06-08
46         Montana      18        548  2020-06-08
47          Hawaii      17        664  2020-06-08
48          Alaska      10        561  2020-06-08
49         Wyoming       1        960  2020-06-08
50    Rhode Island       0      14077  2020-06-08