# Example queries for geographic locations on COVID-19 Knowledge Graph
[Work in progress]

This notebook demonstrates how to run Cypher queries in a Jupyter Notebook by connecting to a database server.

In [10]:
import datetime
import pandas as pd
from py2neo import Graph

In [11]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

In [12]:
graph = Graph("bolt://132.249.238.185:7687", user="reader", password="demo")

### List Node Metadata

In [13]:
query = """
MATCH (n:NodeMetadata)
RETURN n.name, n.shortDescription, n.description, n.example, n.definitionSource, n.dataProviders
"""
graph.run(query).to_data_frame()

,n.name,n.shortDescription,n.description,n.example,n.definitionSource,n.dataProviders
0,Location,Geographic location,A geograpic location,"World, ..., Country, State, Country, City, Cru...",None,None
1,World,The World,Top level location,None,None,None
2,UNRegion,Continental regions,Continental regions according to the M49 stan...,Americas,None,None
3,UNSubRegion,Subcontinental regions,Subcontinental regions according to the M49 st...,Latin America and the Caribbean,None,None
4,UNIntermediateRegion,Subdivisions of subcontinental regions,Subdivisions of subcontinental regions accordi...,Caribbean,None,None
5,Country,Countries and dependent Territories,Countries and dependent Territories defined b...,United States,None,None
6,Admin1,"State, Province, Municipality","First administrative divisions, e.g, State, Pr...",California,None,None
7,Admin2,County,Second administrative divisions: County in the US,San Diego County,None,None
8,City,City,City,San Diego,None,None
9,PostalCode,Postal Code,E.g.,a ZIP Code is a postal code used by the Unite...,None,None
10,CruiseShip,Cruise ship,Cruise ship,Diamond Princess,None,None
11,USRegion,Regions of the US,Regions defined by the US Census Bureau,West Region,None,None
12,USDivision,Subregions of US,Divisions defined by the US Census Burea,Pacific Division,None,None
13,Cases,Case counts,Number of case for outbreaks or diseases at sp...,COVID-19-YYYYMMDD,None,None
14,Outbreak,Increase in disease occurance,Statistically significant increase in disease ...,COVID-19,None,None
15,Organism,Living system,"Individual living system, such as animal, plan...",Homo sapiens,None,None
16,Host,Host organism for a virus,A host organism provides an environment suppor...,Homo sapiens,None,None
17,Pathogen,Diseae causing organism,"A bacterium, virus, or other microorganism tha...",SARS-CoV-2,None,None
18,Strain,Genetic variant of an organism,A population of organisms that is geneticaly d...,COVID-19 strain,None,None
19,Clade,Group of organisms based on common ancestors,An identifier that denotes a group of organism...,SARS-CoV-2 A,None,None
20,Gene,Sequence of nucleotides,Sequence of nucleotides in DNA or RNA that enc...,SARS-CoV-2 S gene,None,None
21,Protein,Sequence of amino acids,Proteins are large biomolecules consisting of ...,Spike protein,None,None
22,Publication,Published document,A document that has been accepted by a publisher,None,None,None

### Run a full text search for location names

In [14]:
query = """
CALL db.index.fulltext.queryNodes("locations", "Los Angeles") YIELD node, score
RETURN node.name, node.location, node.population, labels(node), score
"""
df = graph.run(query).to_data_frame()
df.head(25)

,node.name,node.location,node.population,labels(node),score
0,Los Angeles,None,1144.0,"[Location, City]",5.888811
1,Los Angeles,None,4217.0,"[Location, City]",5.888811
2,Los Angeles,None,1616.0,"[Location, City]",5.888811
3,Los Angeles,None,1780.0,"[Location, City]",5.888811
4,Los Angeles,None,250.0,"[Location, City]",5.888811
5,Los Angeles,None,342.0,"[Location, City]",5.888811
6,Los Angeles,None,4054.0,"[Location, City]",5.888811
7,Los Angeles,None,3971883.0,"[Location, City]",5.888811
8,East Los Angeles,None,126496.0,"[Location, City]",4.704535
9,Fraccionamiento los Angeles,None,6282.0,"[Location, City]",4.704535
10,Lake Los Angeles,None,12328.0,"[Location, City]",4.704535
11,Colonia los Angeles,None,4309.0,"[Location, City]",4.704535
12,Los Angeles County,None,NaN,"[Location, Admin2]",4.704535
13,General Felipe Angeles (Los Angeles),None,3776.0,"[Location, City]",4.613019
14,Angeles,None,1355.0,"[Location, City]",4.592129
15,Torrecilla de los Angeles,None,705.0,"[Location, City]",3.916835
16,Santa Rosa los Angeles,None,2727.0,"[Location, City]",3.916835
17,Noria de los Angeles,None,1662.0,"[Location, City]",3.916835
18,Rinconada de los Angeles,None,2738.0,"[Location, City]",3.916835
19,Gildardo Magana (Los Angeles),None,1460.0,"[Location, City]",3.916835
20,Angeles Barrio,None,NaN,"[Location, Admin2]",3.436149
21,Angeles City,None,299391.0,"[Location, City]",3.436149
22,Felipe Angeles,None,1403.0,"[Location, City]",3.436149
23,Port Angeles,None,19448.0,"[Location, City]",3.436149
24,Santa Maria de los Angeles,None,NaN,"[Location, Admin2]",3.355080

### Calculate distances between locations

In [15]:
query = """
MATCH (a:City {name:"Denver"}), (b: City {name:"Houston"})
WHERE a.elevation > 1000 AND b.elevation < 25
RETURN a.name, a.elevation, a.location, b.name, b.elevation, b.location, distance(a.location, b.location) / 1000.0 as distance_KM
"""
graph.run(query).to_data_frame()

   a.name  a.elevation a.location   b.name  b.elevation b.location distance_KM
0  Denver         1609       None  Houston           12       None        None

### Find nearby locations
Distances are in meters

In [16]:
# Example from: https://maxdemarzi.com/2018/03/21/neo4j-geospatial-queries/
query = """
MATCH (c:City)-[:IN*]->(s:Admin1), (c2:City)
WHERE c.name = "Union City"
  AND s.name = "California"
  AND distance(c.location, c2.location) <= 10000
RETURN c2.name, c2.location.longitude, c2.location.latitude, distance(c.location, c2.location)
"""
graph.run(query).to_data_frame()

Empty DataFrame
Columns: []
Index: []